<template-extends base="../../../../Base/Components/Framework/Tables/CommonTable"></template-extends>

<script>
import CommonTable from "../../../../Base/Components/Framework/Tables/CommonTable";
import Amount from "../../../../Base/Components/Framework/Domain/Amount";
import Date from "../../../../Base/Components/Framework/Domain/DateAndTime/Date";

export default {
    name: "BaseBankStatementDetailsTable",
    extends: CommonTable,
    components: {
        Amount,
        Date,
    },
}
</script>
