<template-extends base="../../../Importer/ImporterTableNew">
<slot name="head">
    <fragment>
        <thead class=" text-primary">
        <th class="text-center">Ид</th>
        <th class="text-center">Детально</th>
        <th class="text-center">Имя файла</th>
        <th class="text-center">Сумма</th>
        <th class="text-center">Состояние проводки по кассе</th>
        <th class="text-center">Дата импорта</th>
        </thead>
    </fragment>
</slot>

<slot name="row">
    <td class="text-center">{{ model.id }}</td>

    <td class="text-center">
        <button-more
            @click.stop="onToggleExpand"
        ></button-more>
    </td>

    <td class="text-center">{{ model.filename }}</td>
    <td class="text-center">
        <amount :value="model.total_amount"></amount>
    </td>

    <td class="text-center">
        <is-cashbooked :value="model.is_cashbooked"></is-cashbooked>
    </td>
    <td class="text-center">
        <date-time :value="model.created_at"></date-time>
    </td>
</slot>
</template-extends>

<script>
import ImporterTableNew from "../../../Importer/ImporterTableNew";
import ButtonMore from "../../../../Base/Components/Framework/Controls/ActionButtons/Domain/ButtonMore";
import DateTime from "../../../../Base/Components/Framework/Domain/DateAndTime/DateTime";
import IsCashbooked from "../../../Invoices/Outgoing/General/IsCashbooked";
import Amount from "../../../../Base/Components/Framework/Domain/Amount";

export default {
    name: "BaseBankStatementTable",
    extends: ImporterTableNew,
    components: {
        ButtonMore,
        DateTime,
        Amount,
        IsCashbooked,
    },
    props: {
        columnsCount: {
            default: 6,
        },
    },
}
</script>
