<template-extends base="../../../Base/Forms/Simple/RightEntity/SimpleEntityRightForm">
</template-extends>

<script>
import SimpleEntityRightForm from "../../../Base/Forms/Simple/RightEntity/SimpleEntityRightForm";

export default {
    name: "BaseBankStatementForm",
    extends: SimpleEntityRightForm,
}
</script>
