<template-extends base="../../../../Base/Forms/Simple/Modal/SimpleModalForm">
<slot>
    <div class="form-row">
        <!-- payment_timestamp -->
        <date-time-control
            v-model="model.payment_datetime"
            class="col-12 col-md-6"
            :required="true"
            label="Дата и время оплаты"
        ></date-time-control>

        <!-- month_number -->
        <month-number-select-control
            v-model="model.month_number"
            class="col-12 col-md-6"
            :required="true"
            label="Отчётный период"
        ></month-number-select-control>

        <currency-id-to-account-id-map-table-control
            v-model="model.currency_id_to_money_account_id_map"
            :money-accounts="moneyAccounts"
            :currencies="currencies"
            class="col-12"
        ></currency-id-to-account-id-map-table-control>
    </div>

</slot>
</template-extends>

<script>
import SimpleModalForm from "../../../../Base/Forms/Simple/Modal/SimpleModalForm";
import DateTimeControl
    from "../../../../../Base/Components/Framework/Controls/FormGroupWithLabel/Domain/DateAndTime/DateTimeControl";

import MonthNumberSelectControl
    from "../../../../../Base/Components/Framework/Controls/FormGroupWithLabel/Domain/DateAndTime/MonthNumber/MonthNumberSelectControl";
// import deepClone from "../../../../Customized/JS/Utils/deepClone";
import BaseCurrencyIdToAccountIdMapTableControl
    from "./CurrencyIdToAccountIdMap/BaseCurrencyIdToAccountIdMapTableControl";
import CurrencyIdToAccountIdMapTableControl from "./CurrencyIdToAccountIdMap/CurrencyIdToAccountIdMapTableControl";

export default {
    name: "CashbookParamsModalForm",
    extends: SimpleModalForm,
    components: {
        DateTimeControl,
        MonthNumberSelectControl,
        BaseCurrencyIdToAccountIdMapTableControl,
        CurrencyIdToAccountIdMapTableControl,
    },
    props: {
        submitText: String,
        title: {
            default: 'Проведение инвойса по кассе',
        },
        canCashbook: Boolean,
        currencies: Array,
        moneyAccounts: Array,
    },
    methods: {
        // createEmptyModel() {
        // },
        // convertFormDataToRequestData(formData) {
        //     return  deepClone(formData);
        // },

    },
    computed: {
        submitButtonProps() {
            let parentValues = this.$super();

            if (!this.submitText) {
                return parentValues;
            }

            parentValues.text = this.submitText;
            parentValues.disabled = !this.canCashbook;

            return parentValues;
        },
    },
}
</script>
