<template-extends base="../../Base/Forms/Simple/Filter/SimpleTableFilterForm">
<slot>
    <div class="form-row">
        <!-- name -->
        <text-input-with-label-control
            v-model="model.name"
            child-id="name"
            class="col-md-6"
            label="Название"
            placeholder="Все"
        ></text-input-with-label-control>

        <!-- vat id -->
        <text-input-with-label-control
            v-model="model.vat_id"
            child-id="vat_id"
            class="col-md-6"
            label="Vat ID"
            placeholder="Все"
        ></text-input-with-label-control>
    </div>
</slot>
</template-extends>

<script>
import TextInputWithLabelControl
    from "../../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/Inputs/TextInputWithLabelControl";
import SimpleTableFilterForm from "../../Base/Forms/Simple/Filter/SimpleTableFilterForm";

export default {
    name: "ClientFilter",
    extends: SimpleTableFilterForm,
    components: {
        TextInputWithLabelControl,
    },
}
</script>
