<template>
    <common-table
        :columns-count="columnsCount"
        :models="models"
        :selected-model="selectedModel"
        @select="$emit('select', $event)"
        @unselect="$emit('unselect')"
    >
        <template v-slot:head>
            <thead class=" text-primary">
            <th class="text-center">Ид</th>
            <th class="text-center">Название</th>
            <th class="text-center">Vat ID</th>
            <th class="text-center">Юр. адрес / Почтовый адрес</th>
            <th class="text-center">Телефон</th>
            <th class="text-center">E-mail'ы</th>
            </thead>
        </template>

        <template v-slot:row="params">
            <td :class="['text-center', {'text-muted': params.model.is_archived}]">{{params.model.id}}</td>
            <td :class="['text-center', {'text-muted': params.model.is_archived}]">{{params.model.name}}</td>
            <td :class="['text-center', {'text-muted': params.model.is_archived}]">{{params.model.vat_id}}</td>
            <td :class="['text-center', {'text-muted': params.model.is_archived}]">{{params.model.legal_address |valueOrDash}} / {{params.model.postal_address |valueOrDash}}</td>
            <td :class="['text-center', {'text-muted': params.model.is_archived}]">{{params.model.phone |valueOrDash}}</td>
            <td :class="['text-center', {'text-muted': params.model.is_archived}]"><emails :value="params.model.emails"></emails></td>
        </template>

    </common-table>
</template>

<script>
    import CommonTablePropsMixin from "../../../Base/Components/Framework/Tables/CommonTablePropsMixin";
    import CommonTable from "../../../Base/Components/Framework/Tables/CommonTable";
    import Emails from "../../../Base/Components/Framework/Domain/Email/Emails";
    import valueOrDash from "../../../Base/JS/valueOrDash";

    export default {
        name: "ClientTable",
        mixins: [CommonTablePropsMixin],
        components: {
            CommonTable,
            Emails,
        },
        props: {
            columnsCount: {
                default: 6,
            }
        },
        filters: {
            valueOrDash,
        },
    }
</script>
