<template-extends base="../../Base/Forms/Simple/RightEntity/SimpleEntityRightForm">
    <slot>
        <!-- name -->
        <text-input-with-label-control
            v-model="model.name"
            :parent-id="id"
            :required="true"
            child-id="name"
            class="col-12"
            label="Название"
        ></text-input-with-label-control>

        <!-- registration_number -->
        <text-input-with-label-control
            v-model="model.registration_number"
            :parent-id="id"
            child-id="registration_number"
            class="col-12"
            label="Reg. No."
        ></text-input-with-label-control>

        <!-- vat_id -->
        <text-input-with-label-control
            v-model="model.vat_id"
            :parent-id="id"
            child-id="vat_id"
            class="col-12"
            label="Vat ID"
        ></text-input-with-label-control>

        <!-- phone -->
        <text-input-with-label-control
            v-model="model.phone"
            :parent-id="id"
            child-id="phone"
            class="col-12"
            label="Телефон"
        ></text-input-with-label-control>

        <!-- emails -->
        <emails-select-control
            v-model="model.emails"
            :allow-new="true"
            :items="model.emails"
            :parent-id="id"
            child-id="emails"
            class="col-12"
            placeholder="Введите e-mail"
            @new="onNewEmail"
        ></emails-select-control>


        <!-- legal_address -->
        <text-input-with-label-control
            v-model="model.legal_address"
            :parent-id="id"
            child-id="legal_address"
            class="col-12"
            label="Юр. адрес"
            @input="onLegalAddressChanged"
        ></text-input-with-label-control>


        <!-- Адреса совпадают -->
        <checkbox-with-label-control
            v-model="model.postal_address_eq_legal_address"
            :parent-id="id"
            child-id="postal_address_eq_legal_address"
            class="col-12"
            label="Адреса совпадают"
            @change="onPostalAddressEqLegalAddressChanged"
        ></checkbox-with-label-control>

        <!-- postal_address -->
        <text-input-with-label-control
            v-model="model.postal_address"
            :disabled="isPostalAddressDisabled"
            :parent-id="id"
            child-id="postal_address"
            class="col-12"
            label="Почтовый Адрес"
        ></text-input-with-label-control>

        <!-- is_archived -->
        <checkbox-with-label-control
            v-model="model.is_archived"
            :parent-id="id"
            child-id="is_archived"
            class="col-12"
            label="Архивирован"
        ></checkbox-with-label-control>
    </slot>
</template-extends>

<script>
import TextInputWithLabelControl
    from "../../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/Inputs/TextInputWithLabelControl";
import SimpleEntityRightForm from "../../Base/Forms/Simple/RightEntity/SimpleEntityRightForm";
import FormButtonsGroup from "../../../Base/Components/Framework/Forms/Base/Parts/FormButtonsGroup/FormButtonsGroup";
import CheckboxWithLabelControl
    from "../../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/Inputs/CheckboxWithLabelControl";
import EmailsSelectControl
    from "../../../Base/Components/Framework/Controls/FormGroupWithLabel/Domain/EmailsSelectControl";

export default {
    name: "ClientForm",
    extends: SimpleEntityRightForm,
    components: {
        CheckboxWithLabelControl,
        TextInputWithLabelControl,
        FormButtonsGroup,
        EmailsSelectControl,
    },
    methods: {
        createEmptyModel() {
            return {
                id: null,
                name: '',

                registration_number: '',
                vat_id: '',

                phone: '',
                emails: [],

                legal_address: '',
                postal_address_eq_legal_address: true,
                postal_address: '',

                is_archived: false,
            };
        },
        convertFormDataToRequestData(formData) {
            return {...formData};
        },
        convertValuePropToFormModel(value) {
            let formModel = {...value};

            formModel.postal_address_eq_legal_address = (formModel.legal_address === formModel.postal_address);

            return formModel;
        },

        // Component only
        onLegalAddressChanged(legalAddress) {
            if (!this.model.postal_address_eq_legal_address) {
                return;
            }

            this.model.postal_address = this.model.legal_address;
        },
        onPostalAddressEqLegalAddressChanged(isPostalAddressEqLegalAddress) {
            if (!isPostalAddressEqLegalAddress) {
                return;
            }

            this.model.postal_address = this.model.legal_address;
        },
        onNewEmail(value) {
            this.model.emails.push(value);
        }
    },
    computed: {
        isPostalAddressDisabled() {
            return this.model.postal_address_eq_legal_address;
        },
        isSaveDisabled() {
            return !this.model.name;
        },
    }
}
</script>
