<template-extends base="../../Base/BaseBankStatementForm">
<slot>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="number">Номер выписки</label>
                <input
                    id="number"
                    v-model="model.filename"
                    class="form-control"
                    name="number"
                    required
                    type="text"
                >
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label for="total_amount">Сумма</label>
                <input
                    id="total_amount"
                    v-model="model.total_amount"
                    :disabled="true"
                    class="form-control"
                    name="total_amount"
                    type="text"
                >
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-row">
                <div class="col-6 text-left">
                    <button
                        v-if="!model.is_cashbooked"
                        :disabled="!model.id"
                        class="btn btn-success"
                        type="button"
                        @click="moveInvoice(model.id)"
                    >Провести
                    </button>

                    <button
                        v-if="model.is_cashbooked"
                        :disabled="!model.id"
                        class="btn btn-danger"
                        type="button"
                    >Отменить проводку
                    </button>
                </div>

                <div class="col-6 text-right">
                    <button :disabled="!model.id" class="btn-info btn" type="submit">Сохранить</button>
                </div>

                <button-delete
                    :disabled="isDeleteDisabled"
                    @click="onDelete"
                ></button-delete>
            </div>
        </div>
    </div>

</slot>
</template-extends>

<script>
import ButtonDelete from "../../../../../Base/Components/Framework/Controls/ActionButtons/Form/Entity/ButtonDelete";
import BaseBankStatementForm from "../../Base/BaseBankStatementForm";

export default {
    name: "BankStatementFormNew",
    extends: BaseBankStatementForm,
    components: {
        ButtonDelete,
    },
    methods: {
        moveInvoice: function (id) {
            let th = this;
            let thToaster = this.$toastr; // s,e,w,i .e("ERRROR"); .w("WARNING");.i("INFORMATION MESSAGE");
            axios.post(this.getEntityUrlById(id) + '/cashbook', {})
                //  axios.post('/invoices/'+id+'/move-invoice',{})
                .then(function (resp) {
                    // console.log(resp);
                    if (resp.data.status === 'warning') {
                        thToaster.w(resp.data.message);
                        return;
                    }

                    thToaster.s(resp.data.message);

                    if (resp.data.status === 'created') {
                        th.clearModel();
                    }


                    th.invoice = resp.data.model;
                    th.sentToTable(resp.data.model, resp.data.status);
                })
                .catch(function (resp) {
                    // console.log(resp);
                    thToaster.e('Some Error')
                });
        },
    },
}
</script>

<style scoped>

</style>
