<template-extends base="../../Base/BaseBankStatementTable">
<slot name="row-details">
    <td :colspan="columnsCount">
        <bank-statement-details-table
            :models="model.details"
            class="table-sm"
        ></bank-statement-details-table>
    </td>
</slot>
</template-extends>

<script>
// import Date from "../../../../../Base/Components/Framework/Domain/DateAndTime/Date";
// import ButtonMore from "../../../../../Base/Components/Framework/Controls/ActionButtons/Domain/ButtonMore";
import BankStatementDetailsTable from "./BankStatementDetailsTable";
import BaseBankStatementTable from "../../Base/BaseBankStatementTable";

export default {
    name: "BankStatementTableNew",
    extends: BaseBankStatementTable,
    components: {
        // Date,
        // DateTime,
        // IsCashbooked,
        BankStatementDetailsTable,
    },
}
</script>
