<template-extends base="../../Base/BaseBankStatementDetailsTable">
<slot name="head">
    <fragment>
        <thead class=" text-primary">
        <th class="text-center">Ид</th>
        <th class="text-center">Дата</th>
        <th class="text-center">Категория</th>
        <th class="text-center">Информация</th>
        <th class="text-center">VS KS SS</th>
        <th class="text-center">Fee</th>
        <th class="text-center">Сумма</th>
        <th class="text-center">Инвойсы</th>
        <th class="text-center">Вид затрат</th>
        <th class="text-center">Примечание</th>
        </thead>
    </fragment>
</slot>

<slot name="row">
    <!-- Id -->
    <td class="text-center">{{ model.id }}</td>

    <!-- Дата -->
    <td class="text-center">
        <date :value="model.transaction_date"></date>
        <br>
        <date-time-without-seconds :value="model.booking_date"></date-time-without-seconds>
    </td>

    <!-- Категория -->
    <td class="text-center">{{ model.transaction_category }}</td>

    <!-- Информация -->
    <td class="text-center">
        <div class="wrape-text">
            {{ model.transaction_type }}
            <br/>
            {{ model.message }}
            <br/>
            {{ model.note }}
        </div>
    </td>

    <!-- vs, ks, ss -->
    <td class="text-center">{{ model.vs || '-' }} {{ model.ks || '-' }} {{
            model.ss ||
            '-'
        }}
    </td>

    <!-- fee_amount -->
    <td class="text-center">
        <amount :value="model.fee_amount"></amount>
    </td>

    <!-- total_amount -->
    <td class="text-center">
        <amount :value="model.total_amount"></amount>
    </td>

    <!-- Инвойсы -->
    <td class="text-center">
        <div class="form-group">
            <label :for="invoicesTextListName(model.id)">Инвойсы</label>
            <input
                :id="invoicesTextListName(model.id)"
                :name="invoicesTextListName(model.id)"
                @blur="modelUpdateInvoicesNumbers(model.id, model.invoices_text_list)"
                class="form-control"
                type="text"
                v-model="model.invoices_text_list"
            >
        </div>
    </td>

    <!-- Вид затрат -->
    <td class="text-center">
        <all-expense-select-with-groups-control
            :items="expenses"
            label="Вид затрат"
            @input="modelChangeType(model.id, $event)"
            placeholder=""
            v-model="model.transfer_type_id"
        ></all-expense-select-with-groups-control>
    </td>

    <!-- Примечание -->
    <td class="text-center">
        <div class="form-group">
            <label :for="commentName(model.id)">Примечание</label>
            <input
                :id="commentName(model.id)"
                :name="commentName(model.id)"
                @blur="modelUpdateComment(model.id, model.comment)"
                class="form-control"
                type="text"
                v-model="model.comment"
            >
        </div>
    </td>
</slot>

</template-extends>

<script>
import Date from "../../../../../Base/Components/Framework/Domain/DateAndTime/Date";
import DateTimeWithoutSeconds from "../../../../../Base/Components/Framework/Domain/DateAndTime/DateTimeWithoutSeconds";
import GeneralExpenseSelectWithGroupsControl
    from "../../../MoneyTransferType/Children/Expense/General/GeneralExpenseSelectWithGroupsControl";
import BaseBankStatementDetailsTable from "../../Base/BaseBankStatementDetailsTable";
import Amount from "../../../../../Base/Components/Framework/Domain/Amount";

export default {
    name: "BankStatementDetailsTable",
    extends: BaseBankStatementDetailsTable,
    components: {
        Amount,
        Date,
        DateTimeWithoutSeconds,
        GeneralExpenseSelectWithGroupsControl,
    },
    props: {
        columnsCount: {
            default: 10,
        },
        expenses: {
            type: Array,
        },
    },
    methods: {
        invoicesTextListName(id) {
            return 'invoices_text_list_' + id;
        },
        modelUpdateInvoicesNumbers(modelDetailId, invoicesNumbers) {
            this.updateDetailField(modelDetailId, 'invoices_numbers', invoicesNumbers);
        },
        modelChangeType(modelDetailId, expenseId) {
            this.updateDetailField(modelDetailId, 'expense', expenseId);
        },
        modelUpdateComment(modelDetailId, comment) {
            this.updateDetailField(modelDetailId, 'comment', comment);
        },

        updateDetailField(modelDetailId, type, value) {
            let th = this;
            let thToaster = this.$toastr; // s,e,w,i .e("ERRROR"); .w("WARNING");.i("INFORMATION MESSAGE");
            const url = window.location.pathname + '/details/' + modelDetailId + '/update';

            axios.put(url, {
                id: value,
                type: type,
            })
                .then(function (resp) {
                    if (resp.data.status == 'warning') {
                        thToaster.w(resp.data.message);
                        return;
                    }
                    thToaster.s(resp.data.message);
                    // th.sentToTable(resp.data.model,resp.data.status)
                })
                .catch(function (resp) {
                    // console.log(resp);
                    thToaster.e('Some Error')
                });
        },
        commentName(id) {
            return 'comment_' + id;
        },
    },
}
</script>
