<template>
    <common-table
        :columns-count="columnsCount"
        :models="models"
        :selected-model="selectedModel"
        @select="$emit('select', $event)"
        @unselect="$emit('unselect')"
    >
        <template v-slot:head>
            <thead class=" text-primary">
            <th class="text-center">Ид</th>
            <th class="text-center">Дата платежа</th>
            <th class="text-center">Период</th>
            <th class="text-center">Сумма</th>
            <th class="text-center">Тип затрат</th>
            <th class="text-center">Водитель</th>
            <th class="text-center">{{ linkedVehicleName }}</th>
            <th class="text-center">Примечание</th>
            </thead>
        </template>

        <template v-slot:row="params">
            <td class="text-center">{{params.model.id}}</td>
            <td class="text-center">
                <date :value="params.model.payment_timestamp"></date>
            </td>
            <td class="text-center">
                <month-number :value="params.model.month_number"></month-number>
            </td>
            <td class="text-center ">{{params.model.total_amount}}</td>
            <td class="text-center ">{{params.model.expense.name}}</td>
            <td class="text-center">{{params.model.driver ? params.model.driver.name : '-'}}</td>
            <td class="text-center">{{ params.model[linkedVehicleValueModelPropName] ? params.model[linkedVehicleValueModelPropName].number : '-' }}</td>
            <td class="text-center">{{params.model.description}}</td>
        </template>

    </common-table>
</template>

<script>
    import BaseTable from "../Base/BaseTable";
    import MonthNumber from "../../../../../../../Base/Components/Framework/Domain/DateAndTime/MonthNumber";
    import Date from "../../../../../../../Base/Components/Framework/Domain/DateAndTime/Date";
    import TableWithLinkedVehicleMixin from "../Common/TableWithLinkedVehicleMixin";

    export default {
        name: "BaseOtherTable",
        extends: BaseTable,
        mixins: [
            TableWithLinkedVehicleMixin,
        ],
        components: {MonthNumber, Date},
        props: {
            columnsCount: {
                default: 8,
            },
        },
    }
</script>
