<template>
    <div class="park-car-shipment-modal">
        <modal
            :title="title"
            :parent-id="id"
            @close="onCloseModal"
            ref="modal"
        >
            <template v-slot:body>
                <h6>Города загрузки</h6>
                <common-directions-stat-table
                    :models="value ? loadDirectionsStat : []"
                ></common-directions-stat-table>

                <h6>Города выгрузки</h6>
                <common-directions-stat-table
                    :models="value ? unloadDirectionsStat : []"
                ></common-directions-stat-table>
            </template>
        </modal>
    </div>
</template>

<script>
import Modal from "../../../../../../Base/Components/Framework/Containers/Modals/Modal";
import DateFilter from "../../../../../../Base/JS/DateAndTime/Date/DateFilter";
import CommonDirectionsStatTable from "./Modal/CommonDirectionsStatTable";
import ControlPropsMixin from "../../../../../../Base/Components/Mixins/ControlPropsMixin";

export default {
    name: "ParkCarShipmentModal",
    mixins: [
        ControlPropsMixin,
    ],
    components: {Modal, CommonDirectionsStatTable},
    data() {
        return {
            model: this.createEmptyModel(),
            isShown: this.show,
        }
    },
    props: {
        value: {
            type: Object,
            default: null,
        },
        childId: {
            default: 'park-car-shipment-modal',
        },
    },
    methods: {
        createEmptyModel() {
            return {};
        },
        convertValuePropToFormModel(value) {
            return value;
        },
        showModal() {
            if (!this.$refs.modal) {
                return;
            }

            this.$refs.modal.show();
        },
        onCloseModal() {
            this.$emit('unselected');
        },
        getDirectionsStat(directions) {
            let stat = {};

            directions.forEach((direction) => {
                const directionId = direction.id;
                const directionCode = direction.code;

                if (stat[directionId] === undefined) {
                    stat[directionId] = {
                        id: directionId,
                        code: directionCode,
                        count: 1,
                    };
                } else {
                    stat[directionId].count++;
                }
            });

            return stat;
        },
        getDirectionsStatArray(directions) {
            const stat = this.getDirectionsStat(directions);

            return Object.values(stat);
        }
    },
    computed: {
        onEntityModelChange() {
            this.model = this.value
                ? this.convertEntityModelToFormModel(this.value)
                : this.createEmptyModel();

            if (this.value) {
                this.showModal();
            }
        },
        title() {
            const shipment = this.value;

            if (!shipment) {
                return;
            }

            const carNumber = shipment.car.number;
            const dateString = DateFilter(shipment.departure_datetime);
            const totalAmount = shipment.total_amount;

            return `Детали маршрута грузовика <br/><span class="head-data"><span class="car-number">#${carNumber}</span> от <span class="date">${dateString}</span> (${totalAmount} EUR)</span>`;
        },
        loadDirectionsStat() {
            const directions = this.value.load_directions;

            return this.getDirectionsStatArray(directions);
        },
        unloadDirectionsStat() {
            const directions = this.value.unload_directions;

            return this.getDirectionsStatArray(directions);
        }
    }
}
</script>

<style>
.park-car-shipment-modal .head-data {
    font-weight: bold;
}

.park-car-shipment-modal h6 {
    text-align: center;
}
</style>
