<template-extends base="../../../Base/Report/BaseVehicleTableReport">
<slot name="head">
    <fragment>
        <thead class=" text-primary">
        <th class="text-center">Ид</th>
        <th class="text-center">Номер {{ entityGenitive }}</th>
        <th class="text-center">Марка / Модель</th>
        <th class="text-center">Состояние</th>
        <th class="text-center">Кол-во маршрутов</th>
        <th class="text-center"></th>
        </thead>
    </fragment>
</slot>

<slot name="row">
    <!-- id -->
    <td class="text-center">{{ model.id }}</td>
    <td class="text-center">{{ model.number }}</td>
    <td class="text-center">{{ model.brand |valueOrDash }} / {{ model.model |valueOrDash }}</td>
    <td class="text-center">
        <vehicle-work-status :value="model.work_status_id"></vehicle-work-status>
    </td>
    <td class="text-center">{{ model.shipments_count }}</td>
    <td class="text-center">
        <a :href="getEntityUrlById(model.id)">
            <button class="btn btn-info">Подробно</button>
        </a>
    </td>
</slot>
</template-extends>

<script>

import BaseVehicleTableReport from "../../../Base/Report/BaseVehicleTableReport";

export default {
    name: "ParkCarTableReport",
    extends: BaseVehicleTableReport,
    props: {
        entityGenitive: {
            default: 'грузовика (паркового)',
        },
        columnsCount: {
            default: 6,
        },
    },
}
</script>
