<template>
    <common-table
        :columns-count="columnsCount"
        :models="models"
        :selected-model="selectedModel"
        @select="$emit('select', $event)"
        @unselect="$emit('unselect')"
    >
        <template v-slot:head>
            <thead class=" text-primary">
            <th class="text-center">Ид</th>
            <th class="text-center">Дата отправки / прибытия</th>
            <th class="text-center">Заказчик</th>
            <th class="text-center">Города погрузки</th>
            <th class="text-center">Города выгрузки</th>
            <th class="text-center">Фрахт</th>
            </thead>
        </template>

        <template v-slot:row="params">
            <!-- id -->
            <td class="text-center">{{params.model.id}}</td>

            <!-- departure and arrival datetime -->
            <td class="text-center">
                <date-time-without-seconds :value="params.model.departure_datetime"></date-time-without-seconds>
                <br>
                <small v-if="params.model.departure_datetime !== params.model.arrival_datetime">
                    <date-time-without-seconds :value="params.model.arrival_datetime"></date-time-without-seconds>
                </small>
            </td>

            <!-- client -->
            <td class="text-center "><span v-if="params.model.client">{{params.model.client.name}}</span></td>

            <!-- load directions -->
            <td class="text-center ">
                <directions
                    :directions="params.model.load_directions"
                    v-if="params.model.load_directions.length"
                ></directions>
                <span v-else>-</span>
            </td>

            <!-- unload directions -->
            <td class="text-center ">
                <directions
                    :directions="params.model.unload_directions"
                    v-if="params.model.unload_directions.length"
                ></directions>
                <span v-else>-</span>
            </td>

            <!-- total amount -->
            <td class="text-center"><span>{{params.model.total_amount}}</span></td>

        </template>

    </common-table>
</template>

<script>
    import DateTimeWithoutSeconds from "../../../../../../Base/Components/Framework/Domain/DateAndTime/DateTimeWithoutSeconds";
    import CommonTablePropsMixin from "../../../../../../Base/Components/Framework/Tables/CommonTablePropsMixin";
    import CommonTable from "../../../../../../Base/Components/Framework/Tables/CommonTable";
    import Directions from "../../../../../Shipment/Directions";

    export default {
        name: "ParkCarShipmentTable",
        mixins: [CommonTablePropsMixin],
        components: {DateTimeWithoutSeconds, CommonTable, Directions},
        props: {
            columnsCount: {
                default: 6,
            }
        }
    }
</script>
