<template>
    <div id="accordion">
        <park-car-road-expense-group
            :models="models"
            parent-id="id"
        ></park-car-road-expense-group>

        <park-car-salary-expense-group
            :models="models"
            parent-id="id"
        ></park-car-salary-expense-group>

        <park-car-fuel-expense-group
            :models="models"
            parent-id="id"
        ></park-car-fuel-expense-group>

        <park-car-leasing-and-insurance-expense-group
            :models="models"
            parent-id="id"
        ></park-car-leasing-and-insurance-expense-group>

        <park-car-repair-expense-group
            :models="models"
            parent-id="id"
        ></park-car-repair-expense-group>

        <park-car-other-expense-group
            :models="models"
            parent-id="id"
        ></park-car-other-expense-group>
    </div>
</template>

<script>
import ParkCarLeasingAndInsuranceExpenseGroup
    from "./ExpenseGroups/LeasingAndInsurance/ParkCarLeasingAndInsuranceExpenseGroup";
import ParkCarRepairExpenseGroup from "./ExpenseGroups/Repair/ParkCarRepairExpenseGroup";
import BaseExpenseGroupsBlock from "../../../Base/Report/BaseExpenseGroupsBlock";
import ParkCarOtherExpenseGroup from "./ExpenseGroups/Other/ParkCarOtherExpenseGroup";
import ParkCarRoadExpenseGroup from "./ExpenseGroups/Road/ParkCarRoadExpenseGroup";
import ParkCarSalaryExpenseGroup from "./ExpenseGroups/Salary/ParkCarSalaryExpenseGroup";
import ParkCarFuelExpenseGroup from "./ExpenseGroups/Fuel/ParkCarFuelExpenseGroup";

export default {
    name: "ParkCarExpenseGroupsBlock",
    extends: BaseExpenseGroupsBlock,
    components: {
        ParkCarRoadExpenseGroup,
        ParkCarSalaryExpenseGroup,
        ParkCarFuelExpenseGroup,
        ParkCarLeasingAndInsuranceExpenseGroup,
        ParkCarRepairExpenseGroup,
        ParkCarOtherExpenseGroup,
    },
}
</script>
