<template-extends base="../../../../../Base/Forms/Simple/Filter/SimpleWithDateRangeTableFilterForm">
<slot>
    <div class="form-row">
        <!-- Период -->
        <month-period-select-control
            v-model="model.period"
            class="col-md-4"
            placeholder="Все"
        ></month-period-select-control>

        <!-- Клиент !-->
        <client-select-control
            v-model="model.client_id"
            :items="references.clients"
            class="col-md-8"
            placeholder="Все"
        ></client-select-control>
    </div>
</slot>
</template-extends>

<script>
import SimpleWithDateRangeTableFilterForm
    from "../../../../../Base/Forms/Simple/Filter/SimpleWithDateRangeTableFilterForm";
import ClientSelectControl from "../../../../Client/ClientSelectControl";
import FilterDateRangeControl
    from "../../../../../../Base/Components/Framework/Controls/FormGroupWithLabel/Domain/DateAndTime/FilterDateRangeControl";
import MonthPeriodSelectControl
    from "../../../../../../Base/Components/Framework/Controls/FormGroupWithLabel/Domain/DateAndTime/MonthNumber/MonthPeriodSelectControl";

export default {
    name: "ParkCarReportFilter",
    extends: SimpleWithDateRangeTableFilterForm,
    components: {
        FilterDateRangeControl,
        MonthPeriodSelectControl,
        ClientSelectControl,
    },
}
</script>
