<template>
    <common-table
        :columns-count="columnsCount"
        :models="models"
        :selectable-rows="selectableRows"
        :selected-model="selectedModel"
        @select="$emit('select', $event)"
        @unselect="$emit('unselect')"
    >

        <template v-slot:head>
            <thead class=" text-primary">
            <tr>
                <th class="text-center" rowspan="2">Ид</th>
                <th class="text-center" rowspan="2">Дата и время</th>
                <th class="text-center" rowspan="2">Пользователь</th>
                <th class="text-center" colspan="2">Сущность</th>
                <th class="text-center" rowspan="2">Операция</th>
                <th class="text-center" rowspan="2">Детали</th>
            </tr>
            <tr>
                <th class="text-center">Тип</th>
                <th class="text-center">Id</th>
            </tr>
            </thead>
        </template>

        <template v-slot:row="params">
            <!-- id -->
            <td class="text-center">{{ params.model.id }}</td>
            <td class="text-center">
                <date-time-without-seconds :value="params.model.created_at"></date-time-without-seconds>
            </td>
            <td class="text-center">{{ params.model.user.name }}</td>
            <td class="text-center">
                <entity-type :value="params.model.entity_type_id"></entity-type>
            </td>
            <td class="text-center">{{ params.model.entity_id }}</td>
            <td class="text-center">
                <operation-type :value="params.model.operation_type_id"></operation-type>
            </td>
            <td class="text-left">
                <json-view :data="JSON.parse(params.model.details)"/>
            </td>
        </template>
    </common-table>
</template>

<script>
import CommonTablePropsMixin from "../../Base/Components/Framework/Tables/CommonTablePropsMixin";
import CommonTable from "../../Base/Components/Framework/Tables/CommonTable";
import EntityType from "./EntityType/EntityType";
import OperationType from "./OperationType/OperationType";
import DateTimeWithoutSeconds from "../../Base/Components/Framework/Domain/DateAndTime/DateTimeWithoutSeconds";
import {JSONView} from "vue-json-component";

export default {
    name: "LogTable",
    mixins: [CommonTablePropsMixin],
    components: {
        CommonTable,
        EntityType,
        OperationType,
        DateTimeWithoutSeconds,
        'json-view': JSONView,
    },
    props: {
        columnsCount: {
            default: 10,
        },
        selectableRows: {
            default: false,
        },
    }
}
</script>

<style>
.value-key, .data-key {
    padding: 0 !important;
}
</style>
