<template>
    <common-table
        :columns-count="columnsCount"
        :models="models"
        :selected-model="selectedModel"
        @select="$emit('select', $event)"
        @unselect="$emit('unselect')"
    >
        <template v-slot:head>
            <thead class=" text-primary">
            <th class="text-center">Код</th>
            <th class="text-center">Кол-во точек</th>
            </thead>
        </template>

        <template v-slot:row="params">
            <td class="text-center">{{params.model.code}}</td>
            <td class="text-center ">{{params.model.count}}</td>
        </template>

    </common-table>
</template>

<script>
    import CommonTable from "../../../../../../../Base/Components/Framework/Tables/CommonTable";
    import CommonTablePropsMixin from "../../../../../../../Base/Components/Framework/Tables/CommonTablePropsMixin";

    export default {
        name: "CommonDirectionsStatTable",
        mixins: [CommonTablePropsMixin],
        components: {CommonTable},
        props: {
            columnsCount: {
                default: 2,
            },
        },
    }
</script>
