<template-extends base="../../../../Base/Components/Framework/Controls/ButtonWithModal">
<slot name="button">
    <!-- Cashbook -->
    <cashbook-button
        :disabled="disabled"
        :text="text + '...'"
        @click="onButtonClick"
    ></cashbook-button>
</slot>

<slot name="modal">
    <cashbook-params-modal-form
        v-model="cashbookParams"

        :visible="modalIsVisible"
        :submit-text="text"

        :can-cashbook="canCashbook"
        :money-accounts="moneyAccounts"
        :currencies="currencies"

        @close="onCloseModal"
        @submit="onSubmitModal"
    ></cashbook-params-modal-form>
</slot>
</template-extends>

<script>
import ButtonWithModal from "../../../../Base/Components/Framework/Controls/ButtonWithModal";
import CashbookButton from "../../../Cashbook/Parts/Buttons/CashbookButton";
import CashbookParamsModalForm from "./CashbookParams/CashbookParamsModalForm";

export default {
    name: "DkvNewCashbookWithParamsButtonWithModal",
    extends: ButtonWithModal,
    components: {
        CashbookParamsModalForm,
        CashbookButton,
    },
    props: {
        cashbookParams: Object,
        canCashbook: Boolean,
        currencies: Array,
        moneyAccounts: Array,
    },
    methods: {
        onSubmitModal(cashbookParams) {
            this.$emit('cashbook', cashbookParams);
        },
    }
}
</script>
