<template-extends
    base="../../../../Base/Components/Framework/Forms/Combination/ByValueLogicType/Entity/ByAppearance/Modal/EntityModalFormButtonsGroup">
<slot name="after-entity-buttons">
    <!-- Cashbook -->
    <div v-if="!buttonsProps.cashbook.hide" :class="buttonWrapperClass">
        <cashbook-button
            :disabled="buttonsProps.cashbook.disabled"
            :text="buttonsProps.cashbook.text"
            :class="buttonClass"
            @click="$emit('cashbook')"
        ></cashbook-button>

        <dkv-new-cashbook-with-params-button-with-modal
            :disabled="buttonsProps.cashbook.disabled"
            :text="buttonsProps.cashbook.text"
            :class="buttonClass"

            :cashbook-params="cashbookParams"
            :can-cashbook="canCashbook"

            :money-accounts="moneyAccounts"
            :currencies="currencies"

            @cashbook="$emit('cashbook', $event)"
        ></dkv-new-cashbook-with-params-button-with-modal>
    </div>

</slot>
</template-extends>

<script>
import EntityModalFormButtonsGroup
    from "../../../../Base/Components/Framework/Forms/Combination/ByValueLogicType/Entity/ByAppearance/Modal/EntityModalFormButtonsGroup";
import CashbookButton from "../../../Cashbook/Parts/Buttons/CashbookButton";
import DkvNewCashbookWithParamsButtonWithModal from "./DkvNewCashbookWithParamsButtonWithModal";

export default {
    name: "DkvNewInvoiceModalFormButtonsGroup",
    extends: EntityModalFormButtonsGroup,
    components: {
        CashbookButton,
        DkvNewCashbookWithParamsButtonWithModal,
    },
    props: {
        cashbookParams: Object,
        canCashbook: Boolean,
        currencies: Array,
        moneyAccounts: Array,
    },
}
</script>
