<template>
    <common-table
        :models="models"
        :selected-model="selectedModel"
        @select="$emit('select', $event)"
        @unselect="$emit('unselect')"
    >
        <template v-slot:head>
            <thead class=" text-primary">
            <th class="text-center">Ид</th>
            <th class="text-center">Направление</th>
            <th class="text-center">Адреес доставки</th>
            <th class="text-center">E-mail</th>
            <th class="text-center">Телефон</th>
            </thead>
        </template>

        <template v-slot:row="params">
            <td class="text-center">{{params.model.id}}</td>
            <td class="text-center">{{params.model.direction.code}}</td>
            <td class="text-center">{{params.model.address}}</td>
            <td class="text-center">{{params.model.email}}</td>
            <td class="text-center ">{{params.model.phone}}</td>
        </template>
    </common-table>
</template>

<script>
    import CommonTable from "../../../Base/Components/Framework/Tables/CommonTable";
    import CommonTablePropsMixin from "../../../Base/Components/Framework/Tables/CommonTablePropsMixin";

    export default {
        name: "AddressTable",
        mixins: [CommonTablePropsMixin],
        components: {CommonTable},
    }
</script>
