<template-extends base="../../Base/Forms/Simple/RightEntity/SimpleEntityRightForm">
<slot>
    <!-- id -->
    <input v-model="model.id" type="hidden">

    <!-- phone -->
    <phone-input-control
        v-model="model.phone"
        class="col-md-12"
    ></phone-input-control>

    <!-- e-mail -->
    <email-input-control
        v-model="model.email"
        class="col-md-12"
    ></email-input-control>

    <!-- Direction -->
    <fieldset class="col-md-12">
        <legend>Направление <span>*</span></legend>
        <div class="form-row">
            <direction-select-control
                v-model="model.direction_id"
                :items="directions"
                class="col-12"
                label="Существующее"
            ></direction-select-control>

            <div class="col-12 text-center">
                <small class="text-muted">или</small>
            </div>

            <text-input-with-label-control
                v-model="model.direction_code"
                child-id="direction-code"
                class="col-12"
                label="Новое"
            ></text-input-with-label-control>

        </div>
    </fieldset>

    <!-- address -->
    <textarea-control
        v-model="model.address"
        child-id="address"
        class="col-md-12"
        label="Адрес"
    ></textarea-control>

    <!-- comment -->
    <textarea-control
        v-model="model.comment"
        child-id="comment"
        class="col-md-12"
        label="Примечание"
    ></textarea-control>
</slot>
</template-extends>

<script>
import PhoneInputControl
    from "../../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/Inputs/PhoneInputControl";
import EmailInputControl
    from "../../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/Inputs/EmailInputControl";
import DirectionSelectControl from "../Direction/DirectionSelectControl";
import TextareaControl from "../../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/TextareaControl";
import ModelKeysEnum from "./ModelKeysEnum";
import FormKeysEnum from "./FormKeysEnum";
import SimpleEntityRightForm from "../../Base/Forms/Simple/RightEntity/SimpleEntityRightForm";
import TextInputWithLabelControl
    from "../../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/Inputs/TextInputWithLabelControl";

export default {
    name: "AddressForm",
    extends: SimpleEntityRightForm,
    props: ['directions'],
    components: {
        DirectionSelectControl,
        PhoneInputControl,
        EmailInputControl,
        TextInputWithLabelControl,
        TextareaControl,
    },
    methods: {
        createEmptyModel: function () {
            return {
                id: null,

                direction_id: null,
                direction_code: '',

                email: '',
                phone: '',
                address: '',
                comment: '',
            };
        },
        convertFormDataToRequestData(formData) {
            return formData;
        },
        convertValuePropToFormModel(value) {
            const fromModel = {
                [FormKeysEnum.ID]: value[ModelKeysEnum.ID],
                //todo: use ids keys
                [FormKeysEnum.DIRECTION_ID]: value[ModelKeysEnum.DIRECTION_ID],
                [FormKeysEnum.EMAIL]: value[ModelKeysEnum.EMAIL],
                [FormKeysEnum.PHONE]: value[ModelKeysEnum.PHONE],
                [FormKeysEnum.ADDRESS]: value[ModelKeysEnum.ADDRESS],
                [FormKeysEnum.COMMENT]: value[ModelKeysEnum.COMMENT],
            };

            return this.addNewRelationsFieldsToModel(fromModel);
        },

        updateReferencesIfRequired: function (responseModel) {
            this.addDirectionIfRequired(responseModel.direction);
        },
        addDirectionIfRequired: function (direction) {
            if (this.isDirectionExists(direction)) {
                return;
            }

            this.$emit('add-relation', 'directions', direction, 'code');
        },
        addNewRelationsFieldsToModel: function (model) {
            model[FormKeysEnum.DIRECTION_CODE] = null;

            return model;
        },
        isDirectionExists: function (direction) {
            return this.directions.some(function (item) {
                return direction.id === item.id;
            });
        },
    },
    computed: {
        isSaveDisabled() {
            return !this.model.direction_id && !this.model.direction_code;
        }
    }
}
</script>
