@import "sidebar";

.panel-header {
    background: $custom-color;
    background: -webkit-gradient(linear, left top, right top, from($custom-color), color-stop(60%, #204065), to(#2a5788));
    background: linear-gradient(to right, $custom-color 0%, #204065 60%, #2a5788 100%);
}

tr.active {
    background-color: #deeaf7;
}

/* Main Page > Main menu */
.main-page {
    //background-size: cover;
    //background-repeat: no-repeat;
    //background-position: center;
    //background-image: url(../images/fon.jpg);

    .nav {
        font-size: 20px;
        font-weight: bold;
        color: initial;
        justify-content: space-evenly;

        li {
            margin: 1em 0.5em;

            //overflow-wrap: initial;
            a {
                display: flex;
                padding: 0;
            }
        }

        .now-ui-icons {
            float: left;
            margin-top: 0.3em;
            margin-right: 0.5em;
        }

        .dropdown {
            a {
                &.nav-link {
                    color: #2c2c2c;
                }

                &.dropdown-item {
                    &:hover {
                        background-color: unset;
                        text-decoration: underline;
                    }
                }
            }

            .dropdown-toggle::after {
                display: none;
            }

            .dropdown-menu {
                display: block;
                position: static;
                visibility: visible;
                opacity: 1;
                transform: none !important;
                box-shadow: none;
            }
        }
    }
}

.summary {
    .money_accounts {
        font-weight: bolder;

        .money_account_number {
            color: $red;
        }

        .money_account_amount {
            font-weight: normal;
        }
    }

    .totals {
        font-size: larger;
        font-weight: bold;

        .total_amount {
            color: $red;
        }
    }
}

.main-panel > .content {
    padding-left: 15px;
    padding-right: 15px;
    height: calc(100vh - 55px);
}

@media screen and (min-width: 768px) {
    #app .vue-daterange-picker .daterangepicker.dropdown-menu.show-ranges {
        min-width: max-content;

        .calendars-container {
            display: flex;
        }
    }
}

fieldset {
    border: 1px solid lightgray;
    margin-bottom: 10px;
    padding: 0 0.6em !important;
}

legend {
    font-size: 1rem;
}

.form-check {
    //padding-left: 0;
}

//.form-check .form-check-label {
//    padding-left: 0;
//}

// Label top margin. For vertical align checkboxes
.mt-l {
    margin-top: 2.35em;
}

@include media-breakpoint-up(sm) {
    .mt-sm-l {
        margin-top: 2.35em;
    }
}

@include media-breakpoint-up(md) {
    .mt-md-l {
        margin-top: 2.35em;
    }
}

@include media-breakpoint-up(lg) {
    .mt-lg-l {
        margin-top: 2.35em;
    }
}

@include media-breakpoint-up(xl) {
    .mt-xl-l {
        margin-top: 2.35em;
    }
}


td .form-group {
    margin-bottom: 0;
}

.form-group .form-control, .input-group .form-control {
    padding: 10px 12px 10px 12px;
}


.form-group input[type=number].form-control {
    padding-right: 3px;
}

.tag {
    position: relative;
    //display: inline-block;
    padding: 4px 10px 4px 10px;
    margin: 0 1px;
    border-radius: 5px;
    color: #fff;
    line-height: 2.1;
    background: #41b883;
    //margin-right: 10px;
    //margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    font-size: 0.85rem;
}

.bg-payout-prepayment {
    background-color: #FFB236 !important;
}

.bg-payout-salary-part {
    background-color: #41b883 !important;
}

.bg-payout-salary-full {
    background-color: #2CA8FF !important;
}

.bg-money-account-type-non-cash {
    background-color: #2CA8FF !important;
}

.bg-money-account-type-cash {
    background-color: #41b883 !important;
}

.card legend {
    font-size: 0.8571em;
    margin-bottom: 5px;
    color: #9A9A9A;
}

.modal h5 {
    font-size: 1.25em;
}

.card h5 .total_amount {
    font-size: 75%;
}

.card.card-plainxxx {
    position: sticky;
    top: 15px;
    max-height: calc(100vh - 30px);
    overflow-y: auto;
}

.row-details table, .row-details thead tr td {
    border: 1px solid #dee2e6;
}


/* Daterange picker */
.vue-daterange-picker {
    width: 100%;
    min-width: 10em !important;

    .disabled {
        opacity: .6;
    }

    .reportrange-text {
        //padding: 12px 10px !important;
        padding: 8px 10px !important;
        border-color: #e8e8e8 !important;
        text-align: left !important;
        font-size: 16px !important;

        .icon {
            float: right;
        }

        .placeholder {
            font-size: 14px;
            color: #adadad;
            text-overflow: ellipsis !important;
            overflow: hidden;
            white-space: nowrap;
        }

        .date-text {
            display: inline-block;
        }
    }
}

/* Multiselsect */
.multiselect {
    min-height: auto !important;
}

.multiselect__tags {
    padding: 4px 40px 4px 4px !important;
    min-height: auto !important;
    font-size: 16px !important;
}

/*
.multiselect--disabled .multiselect__tags {
    padding-right: 40px !important;
}
*/

.multiselect__input, .multiselect__single {
    margin-bottom: 0 !important;
    min-height: auto !important;
    line-height: inherit !important;
    font-size: inherit !important;
}

.multiselect__placeholder {
    margin-bottom: 0 !important;
    padding-top: 0 !important;
}

.multiselect__select {
    height: 33px !important;
    width: 33px !important;
    padding: 4px !important;
}

.multiselect__select:before {
    top: 70% !important;
}

.multiselect__tag {
    overflow: visible !important;
    margin: 2px 6px 2px 0 !important;
}

/* Datetime controls */

.date, .datetime, .datetime-without-seconds {
    white-space: nowrap;
}

.some-small {
    font-size: 85%;
}

.cursor-pointer {
    cursor: pointer
}

h5 .total_amount {
    float: right;
    font-size: 0.6em;
}

.table > thead > tr > th {
    border: 1px solid #dee2e6;
    font-size: 1em;
    font-weight: 600;
}

.card .card-header .buttons {
    text-align: right;
}

.card-header > .expander {
    margin-top: 0.1em;
}


h1.card-header,
h2.card-header,
h3.card-header,
h4.card-header,
h5.card-header,
h6.card-header {
    font-weight: bold;
}

.modal-title {
    font-weight: bold;
}

.table-hover tbody tr.row-details:hover, .table-hover tbody tr.row-details tr:hover {
    color: initial;
    background-color: initial;
}

.table-form .table > thead > tr > th,
.table-form .table > tbody > tr > th,
.table-form .table > tfoot > tr > th,
.table-form .table > thead > tr > td,
.table-form .table > tbody > tr > td,
.table-form .table > tfoot > tr > td {
    padding: 4px 2px;
}

.exchange-rate label {
    font-size: 0.83em;
}

.notice {
    font-size: smaller;
}

hr {
    width: 100%;
}

/* File input */
.custom-file-input {
    height: auto;
}

.custom-file-label {
    height: 100%;
    font-size: inherit !important;
}

.custom-file-label::after {
    content: "Обзор ...";
    height: 100%;
}


.input-group-prepend .btn, .input-group-append .btn {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: inherit;
}

.input-group {
    font-size: 0.8571em;
}

.card-body {
    overflow: visible;
}

.card-collapsed > .card-body {
    overflow: hidden !important;
}

.card-collapsed > .card-body.show {
    overflow: visible !important;
}

textarea.form-control {
    resize: vertical;
    max-height: none;
}

.white-space-nowrap {
    white-space: nowrap;
}

.card-header .buttons .btn, .navbar .navbar-nav > a.btn {
    margin: 3px 1px;
    padding: 9px;
}

.btn, .navbar .navbar-nav > a.btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

//.dropdown {
//    .dropdown-menu {
//        :not(.inner) {
//            display: none;
//
//            &.show {
//                display: block;
//            }
//        }
//
//    }
//}

/* In Master-Details table no needs hover on details row */
.table-hover tbody tr.no-hover:hover {
    color: unset;
    background-color: unset;
}

.table-hover tbody tr:hover table tr:hover {
    color: unset;
    background-color: unset;
}
