.sidebar {
    overflow: hidden;

    .collapse-handler {
        position: absolute;
        top: 1.5em;
        right: 0.5em;
        display: block;
        width: 23px;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);

        &:hover {
            color: rgba(255, 255, 255, 1);
        }
    }
}

.sidebar-collapsed {
    $sidebar-collapsed-width: 54px;
    $main-panel-expanded-width: calc(100% - #{$sidebar-collapsed-width});

    .sidebar {
        width: $sidebar-collapsed-width;

        .nav li > a {
            margin-left: 0;
            margin-right: 0;
            font-size: 0;

            i {
                position: absolute;
            }
        }

        .collapse-handler {
            right: -6px;
        }
    }
    
    .main-panel {
        width: $main-panel-expanded-width;
    }
}

/* SIDEBAR */
.sidebar,
.off-canvas-sidebar {
    .sidebar-wrapper {
        height: calc(100vh - 62px);
    }
}
