<template-extends base="../../Base/BaseVehicleModalForm">
<slot name="vehicle-child-controls">
    <!-- brand -->
    <text-input-with-label-control
        v-model="model.brand"
        :parent-id="id"
        child-id="brand"
        class="col-12 col-sm-4"
        label="Марка"
    ></text-input-with-label-control>

    <!-- model -->
    <text-input-with-label-control
        v-model="model.model"
        :parent-id="id"
        child-id="model"
        class="col-12 col-sm-4"
        label="Модель"
    ></text-input-with-label-control>

    <!-- is_archived -->
    <checkbox-with-label-control
        v-model="model.is_archived"
        :parent-id="id"
        child-id="is-archived"
        class="col-12 col-sm-4 mt-sm-l"
        label="Архивирован"
    ></checkbox-with-label-control>

    <slot name="car-child-controls"></slot>
</slot>
</template-extends>

<script>
import CheckboxWithLabelControl
    from "../../../../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/Inputs/CheckboxWithLabelControl";

import WorkStatusIdRadioGroupControl from "../WorkStatuses/WorkStatusIdRadioGroupControl";
import BaseVehicleModalForm from "../../Base/BaseVehicleModalForm";

export default {
    name: "BaseCarModalForm",
    extends: BaseVehicleModalForm,
    components: {
        CheckboxWithLabelControl,
        WorkStatusIdRadioGroupControl,
    },
    methods: {
        createEmptyModel() {
            const baseEmptyModel = this.$super();

            return Object.assign(baseEmptyModel, {
                brand: null,
                model: null,
                is_archived: false,
            });
        },
    },
}
</script>
