<template>
    <table class="table">
        <thead class=" text-primary">
        <th class="text-center" v-if="false">Ид</th>
        <th class="text-center">Фио</th>
        <th class="text-center">Должность</th>
        <th class="text-center">Город</th>
        <th class="text-center">Оклад, €</th>
        </thead>

        <tbody ref="table_car">
        <tr :class="{ active : active_el == user.id }" @click="activateTableRowCar(user.id ,$event)"
            class="row-hover-table" v-for="user in users">
            <td class="text-center" v-if="false"> {{user.id}}</td>
            <td class="text-center"> {{user.name}}</td>
            <td class="text-center">{{ user.appointment ? user.appointment.name : '-' }}</td>
            <td class="text-center">{{ user.city ? user.city.name : '-' }}</td>
            <td class="text-center " v-bind:class="[user.month_rate_amount<1?'alert-danger':'']">{{user.month_rate_amount}}</td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    import {eventEmitter} from "../../../app";
    import EntityUrlMixin from "../../../Base/Components/Mixins/EntityUrlMixin";

    export default {
        name: "WorkerTable",
        mixins: [
            EntityUrlMixin,
        ],
        props: [
            'userlist'
        ],
        mounted() {
            this.users = this.userlist.data
        },
        created() {
            eventEmitter.$on('onCreatedWorkerModel', (model) => {
                this.users.unshift(model)
                this.clearActiveTableRow();
            });
            eventEmitter.$on('onUpdatedWorkerModel', (model) => {
                let ind = _.findIndex(this.users, {id: model.id});
                if (ind > -1) {
                    Vue.set(this.users, ind, model)
                }
            });
        },
        data() {
            return {
                active_el: 0,
                users: {}
            }
        },
        methods: {
            // отмечаем цветом строку и шлем новую модел в CarForm
            activateTableRowCar(idRef, event) {
                this.active_el = idRef;
                this.clearActiveTableRow();
                this.sentCarModelToForm(idRef);
            },
            clearActiveTableRow() {
                _.forEach(document.getElementsByClassName('row-hover-table'), function (elemento) {
                    elemento.classList.remove("active");
                });
            },
            sentCarModelToForm: function (idDriver) {
                axios.get( this.getEntityUrlById(idDriver))
                    .then(function (resp) {
                        eventEmitter.$emit('onSelectWorkerModel', resp.data);
                    })
                    .catch(function (resp) {
                        // console.log(resp)
                        thToaster.e('Some Error')
                    });
            },
        }
    }
</script>
