<template>
    <form @submit.prevent="save" method="post">
        <div class="form-row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name">Фио</label>
                    <input class="form-control" id="name" required type="text" v-model="driver.name">
                </div>
            </div>

            <appointment-select-control
                :items="appointments"
                class="col-md-6"
                v-model="driver.appointment_id"
            ></appointment-select-control>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="city">Город</label>
                    <input class="form-control" id="city" name="city" type="text" v-model="driver.city">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="salary">Оклад</label>
                    <input class="form-control" id="salary" name="salary" type="text" v-model="driver.salary">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input class="form-control" id="email" required type="email" v-model="driver.email">
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label for="address">Адрес</label>
                    <input class="form-control" id="address" name="address" type="text" v-model="driver.address">
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group pull-right">
                    <button class="btn-primary btn" type="submit">Save</button>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    import {eventEmitter} from "../../../app";
    import AppointmentSelectControl from "../../Directories/Appointment/AppointmentSelectControl";

    export default {
        name: "WorkerForm",
        components: {AppointmentSelectControl},
        props: ['appointments'],
        created() {
            eventEmitter.$on('onSelectWorkerModel', (dataDriver) => {
                this.driver = dataDriver;
            });
        },
        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                driver: {
                    name: '',
                    email: '',
                    phone: '',
                    certificate: '',
                    category: '',
                    address: '',
                    appointment_id: null,
                },
            }
        },
        methods: {
            save(e) {
                e.preventDefault();
                let th = this;
                var newDriver = th.driver;
                let thToaster = this.$toastr; // s,e,w,i .e("ERRROR"); .w("WARNING");.i("INFORMATION MESSAGE");
                axios.post('', newDriver)
                    .then(function (resp) {
                        if (resp.data.status == 'warning') {
                            thToaster.w(resp.data.message);
                            return;
                        }
                        thToaster.s(resp.data.message);
                        if (resp.data.status == 'created') {
                            th.clearModel();
                        }
                        th.sentToTable(resp.data.model, resp.data.status)
                    })
                    .catch(function (resp) {
                        // console.log(resp);
                        thToaster.e('Some Error')
                    });
                return false;
            },
            clearModel: function () {
                this.driver = {
                    name: '',
                    email: '',
                    phone: '',
                    certificate: '',
                    category: '',
                    address: '',
                    appointment_id: null,
                }
            },
            sentToTable(carModel, status) {
                if (status == 'created') {
                    eventEmitter.$emit('onCreatedWorkerModel', carModel)
                } else if (status == 'updated') {
                    eventEmitter.$emit('onUpdatedWorkerModel', carModel)
                }
            }
        },
    }
</script>
