<template-extends base="../Base/BaseCarModalForm">
    <slot name="car-child-controls">
        <trailer-select-control
            v-model="model.trailer_id"
            :items="references.trailers"
            child-id="trailer_id"
            class="col-12"
        ></trailer-select-control>
    </slot>
</template-extends>

<script>

import BaseCarModalForm from "../Base/BaseCarModalForm";
import TrailerSelectControl from "../../Trailer/TrailerSelectControl";

export default {
    name: "ParkCarModalForm",
    extends: BaseCarModalForm,
    components: {
        TrailerSelectControl,
    },
    props: {
        entityGenitive: {
            default: 'грузовика (автопарка)',
        },
        references: {
            type: Object,
        },
    },
    methods: {
        //todo: refactor with parent/super call
        createEmptyModel() {
            const baseEmptyModel = this.$super();

            return Object.assign(baseEmptyModel, {
                trailer_id: null,
            });
        },
    }
}
</script>
