<template-extends base="../../Base/BaseBankStatementDetailsTable">
<slot name="head">
    <fragment>
        <thead class=" text-primary">
        <th class="text-center">Ид</th>
        <th class="text-center">Дата</th>
        <th class="text-center">Сумма</th>
        <th class="text-center">Валюта</th>
        <th class="text-center">Описание</th>
        <th class="text-center">Ид транзакции</th>
        <th class="text-center">Столбец 3</th>
        </thead>
    </fragment>
</slot>

<slot name="row">
    <!-- Id -->
    <td class="text-center">{{ model.id }}</td>

    <!-- Дата -->
    <td class="text-center">
        <date :value="model.transaction_date"></date>
    </td>

    <!-- total_amount -->
    <td class="text-center">
        <amount :value="model.total_amount"></amount>
    </td>

    <!-- currency_id -->
    <td class="text-center">
        <currency
            :value="model.currency_id"
            :items="currencies"
        ></currency>
    </td>

    <!-- description -->
    <td class="text-center">{{ model.description |valueOfDash }}</td>

    <!-- transaction_id -->
    <td class="text-center">{{ model.transaction_id }}</td>

    <!-- column_3 -->
    <td class="text-center">{{ model.column_3 }}</td>
</slot>
</template-extends>

<script>
import BaseBankStatementDetailsTable from "../../Base/BaseBankStatementDetailsTable";
import Date from "../../../../../Base/Components/Framework/Domain/DateAndTime/Date";
import Currency from "../../../../Directories/Currency/Currency";

export default {
    name: "NewPdfBankStatementDetailsTable",
    extends: BaseBankStatementDetailsTable,
    components: {
        Currency,
        Date,
    },
    props: {
        currencies: Array,
    },
}
</script>
