<template-extends base="../../Base/BaseBankStatementTable">
<slot name="head">
    <fragment>
        <thead class=" text-primary">
        <th class="text-center">Ид</th>
        <th class="text-center">Детально</th>
        <th class="text-center">Имя файла</th>
        <th class="text-center">Номер счёта</th>
        <th class="text-center">Валюта</th>
        <th class="text-center">
            Начальная дата
            <hr>
            Конечная дата
        </th>
        <th class="text-center">
            Начальная сумма
            <hr>
            Конечная сумма
        </th>
        <th class="text-center">
            Всего получено
            <hr>
            Всего отправлено
            <hr>
            Общая разница
        </th>
        <th class="text-center">Состояние проводки по кассе</th>
        <th class="text-center">Дата импорта</th>
        </thead>
    </fragment>
</slot>

<slot name="row">
    <td class="text-center">{{ model.id }}</td>

    <td class="text-center">
        <button-more
            @click.stop="onToggleExpand"
        ></button-more>
    </td>

    <td class="text-center">{{ model.filename }}</td>
    <td class="text-center">{{ model.account_number }}</td>
    <td class="text-center"><currency :value="model.currency_id" :items="currencies"></currency></td>
    <td class="text-center">
        <date :value="model.from_date"></date>
        <hr>
        <date :value="model.to_date"></date>
    </td>
    <td class="text-center">
        <amount :value="model.initial_balance_amount"></amount>
        <hr>
        <amount :value="model.final_balance_amount"></amount>
    </td>
    <td class="text-center">
        <amount :value="model.total_arrived_amount"></amount>
        <hr>
        <amount :value="model.total_left_amount"></amount>
        <hr>
        <amount :value="model.total_amount"></amount>
    </td>

    <td class="text-center">
        <is-cashbooked :value="model.is_cashbooked"></is-cashbooked>
    </td>
    <td class="text-center">
        <date-time :value="model.created_at"></date-time>
    </td>
</slot>

<slot name="row-details">
    <td :colspan="columnsCount">
        <new-pdf-bank-statement-details-table
            :models="model.details"
            :currencies="currencies"
            class="table-sm"
        ></new-pdf-bank-statement-details-table>
    </td>
</slot>
</template-extends>

<script>
import BaseBankStatementTable from "../../Base/BaseBankStatementTable";
import NewPdfBankStatementDetailsTable from "./NewPdfBankStatementDetailsTable";
import Date from "../../../../../Base/Components/Framework/Domain/DateAndTime/Date";
import Currency from "../../../../Directories/Currency/Currency";

export default {
    name: "NewPdfBankStatementTable",
    extends: BaseBankStatementTable,
    components: {
        NewPdfBankStatementDetailsTable,
        Date,
        Currency,
    },
    props: {
        currencies: Array,
        columnsCount: {
            default: 10,
        },
    },
}
</script>
