<template-extends base="../../Base/BaseBankStatementForm">
<slot>
    <div class="row">
        <!-- filename -->
        <text-input-with-label-control
            v-model="model.filename"
            label="Имя файла"
            class="col-md-12"
            :parent-id="id"
            :required="true"
        ></text-input-with-label-control>

        <!-- total_amount -->
        <amount-control
            v-model="model.total_amount"
            label="Сумма"
            class="col-md-12"
            :parent-id="id"
            :disabled="true"
            :required="true"
        ></amount-control>

        <!-- is_cashbooked -->
        <checkbox-with-label-control
            v-model="model.is_cashbooked"
            label="Проведён по кассе"
            class="col-md-12"
            :parent-id="id"
            :disabled="true"
        ></checkbox-with-label-control>

        <!-- created_at -->
        <date-time-control
            v-model="model.created_at"
            label="Дата импорта"
            class="col-md-12"
            :parent-id="id"
            :disabled="true"
        ></date-time-control>
    </div>

    <cashbook-button
        @click="onCashbook"
    ></cashbook-button>
</slot>
</template-extends>

<script>
import BaseBankStatementForm from "../../Base/BaseBankStatementForm";
import TextInputWithLabelControl
    from "../../../../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/Inputs/TextInputWithLabelControl";
import AmountControl
    from "../../../../../Base/Components/Framework/Controls/FormGroupWithLabel/Domain/Numbers/AmountControl";
import CheckboxWithLabelControl
    from "../../../../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/Inputs/CheckboxWithLabelControl";
import DateTimeControl
    from "../../../../../Base/Components/Framework/Controls/FormGroupWithLabel/Domain/DateAndTime/DateTimeControl";
import CashbookButton from "../../../Parts/Buttons/CashbookButton";
import HttpClient from "../../../../../Base/JS/HttpClient";
import cloneObjectWithOmits from "../../../../../Base/JS/Utils/cloneObjectWithOmits";

export default {
    name: "NewPdfBankStatementForm",
    extends: BaseBankStatementForm,
    components: {
        TextInputWithLabelControl,
        AmountControl,
        CheckboxWithLabelControl,
        DateTimeControl,
        CashbookButton,
    },
    methods: {
        // Form
        getEmptyValue() {
            return {
                id: null,
                filename: null,
                total_amount: null,
                is_cashbooked: null,
                created_at: null,
            };
        },

        convertValuePropToFormModel(value) {
            return cloneObjectWithOmits(value, ['details', 'updated_at']);
        },

        // Cashbook related
        onCashbook() {
            const cashbookEntityUrl = this.getCashbookEntityUrl();

            HttpClient.post(cashbookEntityUrl, null, this.$toastr, this.onSuccessCashbook)
        },
        getCashbookEntityUrl() {
            const entityUrl = this.getEntityUrlById(this.entityId);

            return entityUrl + '/cashbook';
        },
        onSuccessCashbook(response) {
            this.emitUpdated(response.data);
        },
    },
    computed: {
        isValid() {
            return !!(this.model.id && this.model.filename);
        },
    },
}
</script>
