<template-extends base="../Base/Forms/Entity/SimpleEntityModalForm">
<slot name="form">
    <div class="form-row">
        <div class="col-12">
            Overriden form content
            {{ JSON.stringify(model) }}
        </div>
    </div>
</slot>
</template-extends>

<script>
import SimpleEntityModalForm from "../Base/Forms/Simple/ModalEntity/SimpleEntityModalForm";

export default {
    name: "ModalFormChild",
    extends: SimpleEntityModalForm,
    methods: {
        createEmptyModel() {
            return {
                model: {
                    number: 100,
                    aaa: 'aaa',
                    bbb: 'bbb',
                }
            };
        }
    }
}
</script>
