<template-extends base="./TestWrapper" >
<slot name="nested">
    Child with Non Zero extended - Nested slot content.
    <test-nested :model="model"/>
</slot>
</template-extends>

<script>
import TestWrapper from "./TestWrapper";

export default {
    name: "TestWrapperChildWithNonZeroExtendedTemplate",
    extends: TestWrapper,

}
</script>
