<template>
    <base-simple-modal-form :visible="visible" :value="value">
        <template  v-slot:form>
            Overriden modal content!
        </template>
    </base-simple-modal-form>
</template>

<script>
import BaseSimpleModalForm from "../../Base/Components/Framework/ModalForms/Base/BaseSimpleModalForm";

export default {
    name: "TestModalClassic",
    components: {
        BaseSimpleModalForm,
    },
    props: {
        visible: {
            type: Boolean,
            default: true,
        },
        value: {
            type: Object,
        },
    },
}
</script>
