<template>
    <div>
        <h1>{{ $options.name }}</h1>
        <button @click="onClick">Change</button>
        <div>Wrapper value: {{ model.number }}</div>

        <slot name="nested">
            Child with template - Nested slot content.
            <test-nested :model="model"/>
        </slot>
    </div>
</template>

<script>
import TestWrapper from "./TestWrapper";

export default {
    name: "TestWrapperChildWithTemplate",
    extends: TestWrapper,
}
</script>
