<template-extends base="./TestWrapper" />

<script>
import TestWrapper from "./TestWrapper";

export default {
    name: "TestWrapperChildWithZeroExtendedTemplate",
    extends: TestWrapper,
}
</script>
