<slot name="form">
    Overriden modal content!
</slot>

<script>
import BaseSimpleModalForm from "../../Base/Components/Framework/ModalForms/Base/BaseSimpleModalForm";

export default {
    name: "TestModalNew",
    extends: BaseSimpleModalForm,
}
</script>
