<template-extends base="./TestBase">
    <slot name="test1">
        <div>
            Slot test 1 - Test Child
            <slot name="nested-slot-1">Nested slot content</slot>
        </div>
    </slot>

    <slot>
        <div>
            Slot Default - Test Child
            <slot name="nested-slot-2">Nested slot content</slot>
        </div>
    </slot>
</template-extends>


<script>
import TestBase from "./TestBase";
// const TestBase = require("./TestBase");

export default {
    name: "TestChild",
    extends: TestBase,
    // template: "<div>Test template option!</div>",
    render: Vue.compile("<div>Test template option (by Vue.compile())!</div>").render,
/*
    render(createElement) {
        return createElement(
            'div', {
                attrs: {
                    'class': 'checkbox-wrapper'
                },
                // on: {
                //     click: this.check
                // }
            },
            [
                createElement(
                    'div', {
                        'class': {
                            checkbox: true,
                            checked: this.checked
                        }
                    }
                ),
                createElement(
                    'div', {
                        attrs: {
                            'class': 'title'
                        }
                    },
                    this.$options.name
                )
            ]
        )
    },
*/
}

// module.exports = {
//     name: "TestChild",
//     extends: TestBase,
// }
</script>
