<template>
    <div>Nested value: {{ model.number }}</div>
</template>

<script>
export default {
    name: "TestNested",
    props: {
        model: {
            type: Object,
        },
    }
}
</script>
