<template>
    <div>
        <h1>{{ $options.name }}</h1>
        <text-input-with-label-control
            v-model="str"
            child-id="name"
            class="col-md-6"
            label="Название"
            placeholder="Все"
        ></text-input-with-label-control>

        <div>
            <slot name="test1">Slot Test1 - Base</slot>
            <br/>
            <slot name="test2">Slot Test2 - Base</slot>
        </div>
    </div>
</template>

<script>
import TextInputWithLabelControl from "../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/Inputs/TextInputWithLabelControl";

export default {
    name: "TestBase",
    components: {
        TextInputWithLabelControl,
    },
    data() {
        return {
            str: 'Initial string value',
        }
    }
}
</script>
