<template>
    <div>
        <h1>{{ $options.name }}</h1>
        <button @click="onClick">Change</button>
        <div>Wrapper value: {{ model.number }}</div>

        <slot name="nested">
            Base - Nested slot content.
        </slot>
    </div>
</template>

<script>
import TestNested from "./TestNested";

export default {
    name: "TestWrapper",
    components: {
        TestNested,
    },
    data() {
        return {
            model: {
                number: this.getRandInt(),
            },
            max: 100,
        }
    },
    methods: {
        onClick() {
            this.model.number = this.getRandInt();
        },
        getRandomInt(max) {
            return Math.floor(Math.random() * Math.floor(max));
        },
        getRandInt() {
            return this.getRandomInt(this.max);
        },
    }
}
</script>
