<template-extends base="./TestChild">
    <slot name="test2">
        <div>
            TestSubChild - Slot test2 overrile
        </div>
    </slot>

    <slot name="nested-slot-1">TestSubChild - Nested slot 1 override</slot>
</template-extends>

<script>
    import TestChild from "./TestChild";

    export default {
        name: "TestSubChild",
        extends: TestChild,
    }
</script>
