<template>
    <form @submit.prevent="save" method="post">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="number">Номер</label>
                    <input class="form-control" id="number" name="number" required type="text"
                           v-model="car.number" v-on:change="">
                </div>
            </div>

            <div class="col-12">
                <div class="form-group">
                    <label for="brand">Марка</label>
                    <input class="form-control" id="brand" name="brand" type="text" v-model="car.brand">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="model">Модель</label>
                    <input class="form-control" id="model" name="model" type="text" v-model="car.model">
                </div>
            </div>

            <trailer-select-control :items="trailers"
                                    class="col-12"
                                    v-model="car.trailer_id"
            ></trailer-select-control>

            <block-form-buttons-group
                :buttons-props="formButtonsProps"

                @clear="clearCar"
            ></block-form-buttons-group>
        </div>
    </form>
</template>

<script>
    import {eventEmitter, mixErrors} from "../../../../app";
    import TrailerSelectControl from "../Trailer/TrailerSelectControl";
    import BlockFormButtonsGroup from "../../../Common/Page/Form/BlockFormButtonsGroup";

    export default {
        name: "CarForm",
        components: {TrailerSelectControl, BlockFormButtonsGroup},
        props: [
            'trailers'
        ],
        mixins: [mixErrors],

        created() {
            eventEmitter.$on('onSelectCarModel', (dataCar) => {
                this.car = dataCar;
            });
        },
        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                car: this.createEmptyModel(),
            }
        },
        methods: {
            createEmptyModel() {
                return {
                    number: '',
                    model: '',
                    trailer_id: '',
                    brand: '',
                    work_status_id: null,
                    is_archived: null,
                }
            },
            save(e) {
                e.preventDefault();
                let th = this
                var newCar = th.car;
                let thToaster = this.$toastr; // s,e,w,i .e("ERRROR"); .w("WARNING");.i("INFORMATION MESSAGE");
                axios.post('', newCar)
                    .then(function (resp) {
                        thToaster.s(resp.data.message);
                        if (resp.data.status == 'created') {
                            th.clearCar();
                        }
                        th.sentToTable(resp.data.model, resp.data.status)
                    })
                    .catch(function (resp) {
                        if (resp.response.status == 422) {
                            thToaster.e(th.getFirstError(resp.response.data.errors))
                        } else {
                            thToaster.e('Some Error')
                        }
                    });
                return false;
            },
            clearCar: function () {
                this.car = this.createEmptyModel();
            },
            sentToTable(carModel, status) {
                if (status == 'created') {
                    eventEmitter.$emit('onCreatedCarModel', carModel)
                } else if (status == 'updated') {
                    eventEmitter.$emit('onUpdatedCarModel', carModel)
                }
            },
            // getFirstError:function (errorData) {
            //     let data=errorData;
            //     let fError= data[Object.keys(data)[0]];
            //     return fError;
            // },
        },
    }
</script>
