<template>
       <h1>NO USE IT </h1>
</template>
<script>
    import CarForm from './CarForm';
    export default {
        name: "CarGroup",
        components: { CarForm },
        data(){
            return{
                number:'',
                model:'',
                brand:'',
                work_status_id: null,
                is_archived: null,
                trailer: null,
            }
        }
    }
</script>
<style scoped>
</style>
