<template>
    <table class="table">
        <thead class=" text-primary">
        <th class="text-center">
            Ид
        </th>
        <th class="text-center">
            Номер автомобиля
        </th>
        <th class="text-center">
            Прицеп
        </th>
        <th class="text-center">
            Марка / Модель
        </th>
        <th class="text-center">
            Состояние
        </th>
        </thead>

        <tbody ref="table_car">
        <tr :class="{ active : active_el == car.id }" @click="activateTableRowCar(car.id ,$event)"
            class="row-hover-table" v-for="car in cars">
            <td class="text-center"> {{car.id}}</td>
            <td class="text-center"> {{car.number}}</td>
            <td class="text-center">
                <span v-if="car.trailer">{{car.trailer.number}}</span>
            </td>
            <td class="text-center">
                {{car.brand}} / {{car.model}}
            </td>
            <td class="text-center">
                {{car.work_status_id}}
            </td>
        </tr>
        </tbody>
    </table>

</template>

<script>
    import {eventEmitter} from "../../../../app";
    import EntityUrlMixin from "../../../../Base/Components/Mixins/EntityUrlMixin";

    export default {
        name: "CarTable",
        mixins: [
            EntityUrlMixin,
        ],
        props: ['pagination'],
        mounted() {
            this.cars = this.pagination.data
        },
        created() {
            eventEmitter.$on('onCreatedCarModel', (modelCar) => {
                this.cars.unshift(modelCar)
                this.clearActiveTableRow();
            });
            eventEmitter.$on('onUpdatedCarModel', (modelCar) => {
                let ind = _.findIndex(this.cars, {id: modelCar.id});
                if (ind > -1) {
                    Vue.set(this.cars, ind, modelCar)
                }
            });
        },
        data() {
            return {
                active_el: 0,
                cars: []
            }
        },
        methods: {
            // отмечаем цветом строку и шлем новую модел в CarForm
            activateTableRowCar(idRef, event) {
                this.active_el = idRef;
                this.clearActiveTableRow();
                this.sentCarModelToForm(idRef);
            },
            clearActiveTableRow() {
                _.forEach(document.getElementsByClassName('row-hover-table'), function (elemento) {
                    elemento.classList.remove("active");
                });
            },
            sentCarModelToForm: function (idCar) {
                axios.get(this.getEntityUrlById(idCar))
                    .then(function (resp) {
                        eventEmitter.$emit('onSelectCarModel', resp.data);
                    })
                    .catch(function (resp) {
                        // console.log(resp)
                        thToaster.e('Some Error')
                    });
            },
        }
    }
</script>
