<template>
    <div class="element">
        <div class="list-wrap d-flex">
            <div class="element-list p-2">Приход: {{summary.incomeTotalAmount}} €</div>
            <div class="element-list p-2">Расход: {{-summary.outcomeTotalAmount}} €</div>

            <div v-if="profitTotalAmount >= 0" class="element-list p-2 text-success">Прибыль: {{profitTotalAmount}} €</div>
            <div v-else class="element-list p-2 text-danger">Убыток: {{-profitTotalAmount}} €</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "VehicleInfoTotal",
        props: ['summary'],
        computed: {
            profitTotalAmount() {
                return this.summary.incomeTotalAmount + this.summary.outcomeTotalAmount;
            }
        },
    }
</script>
