<template>
  <tag
      :bg-class="isIncome ? 'income': 'outcome'"
      :value="name"
  ></tag>
</template>

<script>
import Tag from "../../../Base/Components/Framework/Elementaries/Tag";

export default {
  name: "CashbookDirectionTypeByTotalAmount",
  components: {
    Tag,
  },
  props: {
    value: Number,
  },
  computed: {
    isIncome() {
      return this.value > 0;
    },
    isOutcome() {
      return this.value <= 0;
    },
    name() {
      return this.isIncome ? 'Приход' : 'Расход';
    },
  },
}
</script>

<style scoped>
.income {
  background-color: #0fce87;
}

.outcome {
  background-color: #ffb236;
}

.nocome {
  background-color: #dddddd;
}
</style>
