<template-extends base="../../Base/Forms/Simple/ModalEntity/SimpleEntityModalForm">
<slot>
    <div class="form-row">
        <!-- sys_order -->
        <text-input-with-label-control
            v-model="model.sys_order"
            :disabled="true"
            :parent-id="id"
            :required="true"
            child-id="sys_order"
            class="col-3"
            label="Номер письма"
        ></text-input-with-label-control>

        <!-- name -->
        <text-input-with-label-control
            v-model="model.name"
            :parent-id="id"
            :required="true"
            child-id="name"
            class="col-9"
            label="Название"
        ></text-input-with-label-control>

        <!-- body -->
        <textarea-control
            v-model="model.body"
            :parent-id="id"
            child-id="body"
            class="col-12 email-template-body"
            label="Тело"
        ></textarea-control>
    </div>
</slot>
</template-extends>

<script>
import TextInputWithLabelControl
    from "../../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/Inputs/TextInputWithLabelControl";
import TextareaControl from "../../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/TextareaControl";
import SimpleEntityModalForm from "../../Base/Forms/Simple/ModalEntity/SimpleEntityModalForm";

export default {
    name: "EmailTemplateModalForm",
    extends: SimpleEntityModalForm,
    components: {
        TextInputWithLabelControl,
        TextareaControl
    },
    props: {
        size: {
            type: String,
            default: 'lg',
        },
        entityGenitive: {
            default: 'шаблона e-mail\'а',
        },
    },
    methods: {
        createEmptyModel() {
            return {
                id: null,
                sys_order: null,
                name: '',
                body: '',
            };
        },
        convertFormDataToRequestData(formData) {
            return {
                id: formData.id,
                name: formData.name,
                body: formData.body,
            };
        },
        convertValuePropToFormModel(value) {
            return {
                id: value.id,
                sys_order: value.sys_order,
                name: value.name,
                body: value.body,
            };
        },
    },
    computed: {
        isSaveDisabled() {
            return !this.model.name || !this.model.body;
        },
        isShowDelete() {
            return false;
        },
    },
}
</script>

<style>
.email-template-body textarea.form-control {
    height: 45vh;
    max-height: 45vh;
}
</style>
