<template>
    <common-table
        :columns-count="columnsCount"
        :models="models"
        :selected-model="selectedModel"
        @select="$emit('select', $event)"
        @unselect="$emit('unselect')"
    >
        <template v-slot:head>
            <thead class=" text-primary">
            <th class="text-center">Номер письма</th>
            <th class="text-center">Название</th>
            <th class="text-center">Тело</th>
            </thead>
        </template>

        <template v-slot:row="params">
            <!-- id -->
            <td class="text-center">{{params.model.sys_order}}</td>

            <!-- name -->
            <td class="text-center">{{params.model.name}}</td>

            <!-- email -->
            <td class="text-justify">{{params.model.body}}</td>
        </template>
    </common-table>
</template>

<script>
    import CommonTable from "../../../Base/Components/Framework/Tables/CommonTable";
    import CommonTablePropsMixin from "../../../Base/Components/Framework/Tables/CommonTablePropsMixin";

    export default {
        name: "EmailTemplateTable",
        mixins: [CommonTablePropsMixin],
        components: {CommonTable},
        props: {
            columnsCount: {
                default: 3,
            },
        },
    }
</script>
