<script>

import TagMappedValueByMap from "../../../../Base/Components/Framework/Elementaries/MappedValue/Tag/TagMappedValueByMap";

export default {
    name: "VehicleWorkStatus",
    extends: TagMappedValueByMap,
    props: {
        map: {
            default() {
                return {
                    0: 'Рабочее',
                    1: 'В ремонте'
                };
            }
        },
        classMap: {
            default() {
                return {
                    1: 'bg-car-work-status-repair',
                };
            },
        },
    },
}
</script>

<style>
.bg-car-work-status-repair {
    background-color: #FFB236 !important;
}
</style>
