<template>
    <span>
        <span v-if="value">{{ value.number }}</span>
        <span v-else> - </span>
    </span>
</template>

<script>

export default {
    name: "Vehicle",
    props: {
        value: {
            type: Object,
        },
    },
}
</script>
