<template>
    <div class="row-buttons-group">
        <button-up :disabled="upDisabled||disabled" class="btn-sm" @click="$emit('up')"></button-up>
        <button-append :disabled="disabled" class="btn-sm" @click="$emit('add')"></button-append>
        <button-down :disabled="downDisabled||disabled" class="btn-sm" @click="$emit('down')"></button-down>
        <button-delete :disabled="deleteDisabled||disabled" class="btn-sm" @click="$emit('delete')"></button-delete>
    </div>
</template>

<script>
import ButtonDelete from "../../../../../Base/Components/Framework/Controls/ActionButtons/Form/Entity/ButtonDelete";
import ButtonAppend from "../../../../../Base/Components/Framework/Controls/ActionButtons/Form/Entity/Item/ButtonAppend";
import ButtonUp from "../../../../../Base/Components/Framework/Controls/ActionButtons/Move/ButtonUp";
import ButtonDown from "../../../../../Base/Components/Framework/Controls/ActionButtons/Move/ButtonDown";
import ComponentPropsMixin from "../../../../../Base/Components/Mixins/ComponentPropsMixin";

export default {
    name: "EditableRowButtonsGroup",
    mixins: [
        ComponentPropsMixin,
    ],
    components: {
        ButtonDelete,
        ButtonAppend,
        ButtonUp,
        ButtonDown,
    },
    props: {
        index: {
            type: Number,
        },
        total: {
            type: Number,
        }
    },
    computed: {
        upDisabled() {
            return this.index === 0;
        },
        downDisabled() {
            return (this.index + 1) === this.total;
        },
        deleteDisabled() {
            return this.total === 1;
        }
    }
}
</script>

<style>

.row-buttons-group {
    min-width: 6.51em;
}

.row-buttons-group button {
    display: inline-block;
    width: 48%;
    margin: 1px 0 !important;
}
</style>
