<template>
    <common-table
        :columns-count="columnsCount"
        :models="models"
        :selected-model="selectedModel"
        @select="$emit('select', $event)"
        @unselect="$emit('unselect')"
    >
        <template v-slot:head>
            <thead class=" text-primary">
            <th class="text-center">Ид</th>
            <th class="text-center">Номер прицепа</th>
            <th class="text-center">Состояние</th>
            <th class="text-center">Номер грузовика</th>
            </thead>
        </template>

        <template v-slot:row="params">
            <!-- id -->
            <td class="text-center">{{ params.model.id }}</td>

            <!-- number -->
            <td class="text-center">{{ params.model.number }}</td>

            <!-- work_status_id -->
            <td class="text-center">
                <vehicle-work-status :value="params.model.work_status_id"></vehicle-work-status>
            </td>

            <!-- car-->
            <td class="text-center">
                <vehicle :value="params.model.car"></vehicle>
            </td>
        </template>
    </common-table>
</template>

<script>
import BaseVehicleTable from "../Base/BaseVehicleTable";
import Vehicle from "../Common/Vehicle";

export default {
    name: "TrailerTable",
    components: {Vehicle},
    extends: BaseVehicleTable,
    props: {
        columnsCount: {
            default: 3,
        },
    },
}
</script>
