<template-extends base="../../../../../../Base/Components/Framework/Tables/CommonTable">
<slot name="head">
    <thead class="text-primary">
    <th class="text-center w-50">Валюта</th>
    <th class="text-center">Счёт <required-asterisk/></th>
    </thead>
</slot>

<slot name="row">
    <td class="text-center">{{ getCurrencyCodeById(index) }}</td>
    <td>
        <money-account-select-control
            v-model="models[index]"
            :label="null"
            :items="getFilteredByCurrencyIdMoneyAccounts(index)"
        ></money-account-select-control>
    </td>
</slot>

</template-extends>

<script>
import CommonTable from "../../../../../../Base/Components/Framework/Tables/CommonTable";
import findObjectById from "../../../../../../Base/JS/Utils/findObjectById";
import MoneyAccountSelectControl from "../../../../../Directories/MoneyAccount/MoneyAccountSelectControl";
import CurrencyIdToAccountIdMapOnlyPropsMixin from "./CurrencyIdToAccountIdMapOnlyPropsMixin";
import RequiredAsterisk from "../../../../../../Base/Components/Framework/Elementaries/RequiredAsterisk";

export default {
    name: "BaseCurrencyIdToAccountIdMapTableControl",
    extends: CommonTable,
    mixins: [
        CurrencyIdToAccountIdMapOnlyPropsMixin,
    ],
    components: {
        RequiredAsterisk,
        CommonTable,
        MoneyAccountSelectControl,
    },
    props: {
        // table
        columnsCount: {
            default: 2,
        },
        selectableRows: {
            default: false,
        },
    },
    methods: {
        // currency
        getCurrencyCodeById(currencyId) {
            const currency = this.getCurrencyById(currencyId);

            return currency.code;
        },
        getCurrencyById(currencyId) {
            return findObjectById(currencyId, this.currencies);
        },
        getFilteredByCurrencyIdMoneyAccounts(currencyId) {
            return this.moneyAccounts.filter(
                moneyAccount => String(moneyAccount.main_currency_id) === currencyId
            );
        },
    },
}
</script>
