<template-extends base="../../../../../../Base/Components/Framework/Controls/FormGroupWithLabel/BaseFormGroupWithLabel">
<slot>
    <base-currency-id-to-account-id-map-table-control
        :models="models"

        :money-accounts="moneyAccounts"
        :currencies="currencies"

        @input="onInput"
    ></base-currency-id-to-account-id-map-table-control>
</slot>
</template-extends>

<script>
import BaseFormGroupWithLabel
    from "../../../../../../Base/Components/Framework/Controls/FormGroupWithLabel/BaseFormGroupWithLabel";
import CurrencyIdToAccountIdMapTableControlPropsMixin from "./CurrencyIdToAccountIdMapTableControlPropsMixin";
import BaseCurrencyIdToAccountIdMapTableControl from "./BaseCurrencyIdToAccountIdMapTableControl";

export default {
    name: "CurrencyIdToAccountIdMapTableControl",
    extends: BaseFormGroupWithLabel,
    mixins: [
        CurrencyIdToAccountIdMapTableControlPropsMixin,
    ],
    components: {
        BaseCurrencyIdToAccountIdMapTableControl,
    },
    props: {
        label: {
            default: 'Счета для валют',
        },
    },
}
</script>
