<template>
    <!-- Расчет дневного рейта -->
    <fieldset class="col-12">
        <legend>Расчет дневного рейта</legend>

        <div class="form-row">
            <text-input-with-label-control
                :disabled="true"
                :parent-id="id"
                :required="true"
                :value="value.daysCount"
                child-id="days-in-month"
                class="col-4"
                label="Дней в периоде"
            ></text-input-with-label-control>

            <amount-control
                :disabled="true"
                :parent-id="id"
                :value="value.dayRate"
                child-id="day_rate"
                class="col-8"
                label="Дневной рейт, €"
            ></amount-control>
        </div>
    </fieldset>
</template>

<script>
import ComponentPropsMixin from "../../../../Base/Components/Mixins/ComponentPropsMixin";
import TextInputWithLabelControl
    from "../../../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/Inputs/TextInputWithLabelControl";
import AmountControl
    from "../../../../Base/Components/Framework/Controls/FormGroupWithLabel/Domain/Numbers/AmountControl";

export default {
    name: "DayRateCalculationInfo",
    mixins: [
        ComponentPropsMixin,
    ],
    components: {
        TextInputWithLabelControl,
        AmountControl,
    },
    props: {
        value: {
            type: Object,
        },
    },
}
</script>
