<template-extends base="../../../../Base/Report/BaseReportTable"></template-extends>

<script>
import VehicleWorkStatus from "../../Common/VehicleWorkStatus";
import BaseReportTable from "../../../../Base/Report/BaseReportTable";

export default {
    name: "BaseVehicleTableReport",
    extends: BaseReportTable,
    components: {
        VehicleWorkStatus,
    },
    props: {
        entityGenitive: {
            type: String,
        },
    },
}
</script>
