<template>
    <span
        :class="['tag', {
            'bg-money-account-type-non-cash': value === MoneyAccountTypeIdsEnum.NON_CASH,
            'bg-money-account-type-cash': value === MoneyAccountTypeIdsEnum.CASH,
         }]"
    >{{ name }}</span>
</template>

<script>
    import MoneyAccountTypeIdsEnum from "./MoneyAccountTypeIdsEnum";
    import CashMoneyAccountType from "./CashMoneyAccountType";
    import NonCashMoneyAccountType from "./NonCashMoneyAccountType";

    export default {
        name: "MoneyAccountType",
        props: {
            value: {
                type: Number,
            }
        },
        created() {
            this.MoneyAccountTypeIdsEnum = MoneyAccountTypeIdsEnum;
        },
        computed: {
            name() {
                return (this.value === NonCashMoneyAccountType.id)
                    ? NonCashMoneyAccountType.name
                    : CashMoneyAccountType.name;
            }
        }
    }
</script>
