<script>

import TagMappedValueByObjects
    from "../../../Base/Components/Framework/Elementaries/MappedValue/Tag/TagMappedValueByObjects";

export default {
    name: "CashbookItemCreationType",
    extends: TagMappedValueByObjects,
    props: {
        classMap: {
            default() {
                return {
                    0: 'creation-type-unknown',
                    1: 'creation-type-manual',
                    2: 'creation-type-auto',
                };
            },
        }
    },
}
</script>

<style>
.creation-type-unknown {
    background-color: gray;
}

.creation-type-manual {
    background-color: #0fce87;
}

.creation-type-auto {
    background-color: #2CA8FF;
}
</style>
