<template>
    <common-table
        :columns-count="columnsCount"
        :models="models"
        :selected-model="selectedModel"
        @select="$emit('select', $event)"
        @unselect="$emit('unselect')"
    >
        <template v-slot:head>
            <thead class=" text-primary">
            <th class="text-center">Ид</th>
            <th class="text-center">Дата платежа</th>
            <th class="text-center">{{ linkedVehicleName }}</th>
            <th class="text-center">Водитель</th>
            <th class="text-center">Период</th>
            <th class="text-center">Выдано</th>
            <th class="text-center">Расчет за месяц</th>
            </thead>
        </template>

        <template v-slot:row="params">
            <td class="text-center">{{ params.model.id }}</td>
            <td class="text-center">
                <date :value="params.model.payment_timestamp"></date>
            </td>
            <td class="text-center">{{ params.model[linkedVehicleValueModelPropName] ? params.model[linkedVehicleValueModelPropName].number : '-' }}</td>
            <td class="text-center">{{ params.model.driver ? params.model.driver.name : '-' }}</td>
            <td class="text-center">
                <month-number :value="params.model.month_number"></month-number>
            </td>
            <td class="text-center ">{{ params.model.total_amount }}</td>
            <td class="text-center ">
                <is-full-payroll v-if="params.model.driver_salary_payout"
                                 :value="params.model.driver_salary_payout.is_full_payroll_payment"></is-full-payroll>
                <span v-else>-</span>
            </td>
        </template>
    </common-table>
</template>

<script>
import BaseTable from "../Base/BaseTable";
import MonthNumber from "../../../../../../../Base/Components/Framework/Domain/DateAndTime/MonthNumber";
import Date from "../../../../../../../Base/Components/Framework/Domain/DateAndTime/Date";
import IsFullPayroll from "../../../../../../Salaries/Base/Accrual/Status/IsFullPayroll";

export default {
    name: "SalaryTable",
    extends: BaseTable,
    components: {MonthNumber, Date, IsFullPayroll},
    props: {
        columnsCount: {
            default: 6,
        },
    },
}
</script>
