<template>
    <table class="table">
        <thead class=" text-primary">
        <th class="text-center hidden" v-if="false">
            Ид
        </th>
        <th class="text-center">
            ФИО
        </th>
        <th class="text-center">
            Адрес
        </th>
        <th class="text-center">
            Телефон
        </th>
        <th class="text-center">
            E-mail
        </th>
        <th class="text-center">
            Удостоверение
        </th>
        <th class="text-center">
            Категория
        </th>
        <th class="text-center">
            Оклад
        </th>
        <th class="text-center" v-if="false">
            Коэффициент
        </th>
        </thead>

        <tbody ref="table_car">
        <tr :class="{ active : active_el == user.id }" @click="activateTableRowCar(user.id ,$event)"
            class="row-hover-table" v-for="user in users">
            <td class="text-center " v-if='false'> {{user.id}}</td>
            <td class="text-center"> {{user.name}}</td>
            <td class="text-center">{{user.address}}</td>
            <td class="text-center">{{user.phone}}</td>
            <td class="text-center">{{user.email}}</td>
            <td class="text-center">{{user.certificate}}</td>
            <td class="text-center">{{user.category}}</td>
            <td class="text-center " v-bind:class="[user.salary<1?'alert-danger':'']">{{user.salary}}</td>
            <td class="text-center " v-bind:class="[user.salary_rate<1?'alert-danger':'']" v-if="false">
                {{user.salary_rate}}
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    import {eventEmitter} from "../../../app";
    import EntityUrlMixin from "../../../Base/Components/Mixins/EntityUrlMixin";

    export default {
        name: "DriverTable",
        mixins: [
            EntityUrlMixin,
        ],
        props: [
            'userlist', 'categories'
        ],
        mounted() {
            this.users = this.userlist.data
        },
        created() {
            eventEmitter.$on('onCreatedDriverModel', (model) => {
                this.users.unshift(model)
                this.clearActiveTableRow();
            });
            eventEmitter.$on('onUpdatedDriverModel', (model) => {
                let ind = _.findIndex(this.users, {id: model.id});
                if (ind > -1) {
                    Vue.set(this.users, ind, model)
                }
            });
        },
        data() {
            return {
                active_el: 0,
                users: {}
            }
        },
        methods: {
            // отмечаем цветом строку и шлем новую модел в CarForm
            activateTableRowCar(idRef, event) {
                this.active_el = idRef;
                this.clearActiveTableRow();
                this.sentCarModelToForm(idRef);
            },
            clearActiveTableRow() {
                _.forEach(document.getElementsByClassName('row-hover-table'), function (elemento) {
                    elemento.classList.remove("active");
                });
            },
            sentCarModelToForm: function (idDriver) {
                axios.get(this.getEntityUrlById(idDriver))
                    .then(function (resp) {
                        eventEmitter.$emit('onSelectDriverModel', resp.data);
                    })
                    .catch(function (resp) {
                        // console.log(resp)
                        thToaster.e('Some Error')
                    });
            },
        }
    }
</script>
