<template>

    <form @submit.prevent="save" method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name">Фио</label>
                    <input class="form-control" id="name" required type="text" v-model="driver.name">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input class="form-control" id="email" required type="email" v-model="driver.email">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phone">Телефон</label>
                    <input class="form-control" id="phone" name="phone" type="text" v-model="driver.phone">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="certificate">Удостоверение</label>
                    <input class="form-control" id="certificate" name="certificate" type="text"
                           v-model="driver.certificate">
                </div>
            </div>

            <div class="col-md-6">

                <div class="form-group">
                    <label for="category">Категория</label>
                    <select @change="changeCategory" class="custom-select" id="category" required
                            v-model="driver.driver_category_id">
                        <option v-bind:value="category.id" v-for="category in categories">
                            {{ category.name }}
                        </option>
                    </select>
                </div>
            </div>


            <div class="col-md-12">
                <div class="form-group">
                    <label for="address">Адрес</label>
                    <input class="form-control" id="address" name="address" type="text" v-model="driver.address">
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label for="address">Оклад</label>
                    <input class="form-control" id="salary" name="address" type="text" v-model="driverSalary" disabled="disabled">
                </div>
            </div>

            <div class="col-md-12" v-if="false">
                <div class="form-group">
                    <label for="address">Коэффициент</label>
                    <input class="form-control" id="salary_rate" name="address" type="text"
                           v-model="driver.salary_rate">
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group pull-right">
                    <button class="btn-primary btn" type="submit">Save</button>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    import {eventEmitter} from "../../../app";
    import findObjectById from "../../../Base/JS/Utils/findObjectById";

    export default {
        name: "DriverForm",
        props: [
            'categories'
        ],
        created() {
            eventEmitter.$on('onSelectDriverModel', (dataDriver) => {
                this.driver = dataDriver;
            });
        },
        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                driver: {
                    name: '',
                    email: '',
                    phone: '',
                    certificate: '',
                    category: '',
                    address: '',
                    // salary_rate: '',
                    // salary: '',
                }
            }
        },
        methods: {
            save(e) {
                e.preventDefault();
                let th = this;
                var newDriver = th.driver;
                let thToaster = this.$toastr; // s,e,w,i .e("ERRROR"); .w("WARNING");.i("INFORMATION MESSAGE");
                axios.post('', newDriver)
                    .then(function (resp) {
                        if (resp.data.status == 'warning') {
                            thToaster.w(resp.data.message);
                            return;
                        }
                        thToaster.s(resp.data.message);

                        if (resp.data.status == 'created') {
                            th.clearModel();
                        }
                        th.sentToTable(resp.data.model, resp.data.status)
                    })
                    .catch(function (resp) {
                        // console.log(resp);
                        thToaster.e('Some Error')
                    });
                return false;
            },
            clearModel: function () {
                this.driver = {
                    name: '',
                    email: '',
                    phone: '',
                    certificate: '',
                    driver_category_id: '',
                    address: '',
                }
            },
            sentToTable(carModel, status) {
                if (status == 'created') {
                    eventEmitter.$emit('onCreatedDriverModel', carModel)
                } else if (status == 'updated') {
                    eventEmitter.$emit('onUpdatedDriverModel', carModel)
                }
            },
            changeCategory: function (event) {
                // console.log('change', event.target.value, this.categories);
                let element = findObjectById(event.target.value, this.categories);

                if (element) {
                    this.driver.salary = element.month_rate_amount;
                }
            },
        },
        computed: {
            driverCategory() {
                if (!this.driver.driver_category_id) {
                    return  null;
                }

                return findObjectById(this.driver.driver_category_id, this.categories);
            },
            driverSalary() {
                if (!this.driverCategory) {
                    return null;
                }

                return this.driverCategory.month_rate_amount;
            }
        },
    }
</script>
