<template-extends base="../../../../../Base/Components/Framework/Controls/ButtonWithModal">
<slot name="button">
    <base-success-bootstrap-button
        :disabled="buttonDisabled"
        :text="text"
        :title="title"
        @click="onButtonClick"
    ></base-success-bootstrap-button>
</slot>

<slot name="modal">
    <assign-cashbook-items-to-park-car-modal-form
        :visible="modalIsVisible"
        customEntityBaseUrl="assignToParkCarRoute"

        :filter="filter"

        :cashbook-items="cashbookItems"
        :park-cars="parkCars"
        :trailer-id="trailerId"

        @close="onCloseModal"
        @submited="onSubmitedModal"
    ></assign-cashbook-items-to-park-car-modal-form>
</slot>
</template-extends>

<script>
import BaseSuccessBootstrapButton
    from "../../../../../Base/Components/Controls/Bootstrap/Buttons/BaseSuccessBootstrapButton";
import AssignCashbookItemsToParkCarModalForm from "./AssignCashbookItemsToParkCarModalForm";
import ButtonWithModal from "../../../../../Base/Components/Framework/Controls/ButtonWithModal";

export default {
    name: "AssignCashbookItemsToParkCarButton",
    extends: ButtonWithModal,
    components: {
        BaseSuccessBootstrapButton,
        AssignCashbookItemsToParkCarModalForm,
    },
    props: {
        // button
        text: {
            default: 'Задать грузовик ...',
        },
        title: {
            default: 'Установить связь с грузовиком для затрат текущего фильтра',
        },

        // component only
        assignToParkCarRoute: String,
        parkCars: Array,
        cashbookItems: Array,
        filter: [Object, Array],
        trailerId: Number,
        filterIsDirty: Boolean,
    },
    computed: {
        buttonDisabled() {
            return this.disabled || !this.cashbookItemsCount || !this.filter.period || this.filterIsDirty;
        },
        cashbookItemsCount() {
            return this.cashbookItems.length;
        }
    }
}
</script>
