<template-extends base="../../../../Base/Forms/Simple/Modal/SimpleModalForm">
<slot name="body">
    <park-car-select-control
        v-model="model.parkCarId"
        :items="parkCars"
        class="col-md-12"
    ></park-car-select-control>
</slot>
</template-extends>

<script>
import SimpleModalForm from "../../../../Base/Forms/Simple/Modal/SimpleModalForm";
import ParkCarSelectControl from "../../Car/Park/ParkCarSelectControl";
import deepClone from "../../../../../Base/JS/Utils/deepClone";

export default {
    name: "AssignCashbookItemsToParkCarModalForm",
    extends: SimpleModalForm,
    components: {
        ParkCarSelectControl,
    },
    methods: {
        createEmptyModel() {
            return {
                parkCarId: null,
            };
        },
        convertFormDataToRequestData(formData) {
            const requestData = deepClone(formData);

            requestData.filter = deepClone(this.filter);
            requestData.trailerId = this.trailerId;

            return requestData;
        },
    },
    props: {
        // modal form
        title: {
            default: "Распределение затрат на грузовик",
        },

        // component only
        parkCars: Array,
        filter: [Object, Array],
        trailerId: Number,
        cashbookItems: Array,
    },
}
</script>
