<template-extends base="../../../../Base/Forms/Simple/Filter/SimpleWithDateRangeTableFilterForm">
<slot>
    <div class="form-row">
        <!-- Период -->
        <month-period-select-control
            v-model="model.period"
            class="col-md-4"
            placeholder="Все"
        ></month-period-select-control>

        <!-- Грузовик !-->
        <park-car-select-control
            v-model="model.car_id"
            :items="references.parkCars"
            class="col-md-8"
            placeholder="Все"
        ></park-car-select-control>
    </div>
</slot>
</template-extends>

<script>
import SimpleWithDateRangeTableFilterForm
    from "../../../../Base/Forms/Simple/Filter/SimpleWithDateRangeTableFilterForm";
import MonthPeriodSelectControl
    from "../../../../../Base/Components/Framework/Controls/FormGroupWithLabel/Domain/DateAndTime/MonthNumber/MonthPeriodSelectControl";
import ParkCarSelectControl from "../../Car/Park/ParkCarSelectControl";

export default {
    name: "TrailerReportFilter",
    extends: SimpleWithDateRangeTableFilterForm,
    components: {
        MonthPeriodSelectControl,
        ParkCarSelectControl,
    },
}
</script>
