<template>
    <div id="accordion">
        <trailer-salary-expense-group
            :models="models"
            parent-id="id"
        ></trailer-salary-expense-group>

        <trailer-leasing-and-insurance-expense-group
            :models="models"
            parent-id="id"
        ></trailer-leasing-and-insurance-expense-group>

        <trailer-repair-expense-group
            :models="models"
            parent-id="id"
        ></trailer-repair-expense-group>

        <trailer-other-expense-group
            :models="models"
            parent-id="trailer-cashbook-items"
        ></trailer-other-expense-group>

    </div>
</template>

<script>
import TrailerLeasingAndInsuranceExpenseGroup
    from "./ExpenseGroups/LeasingAndInsurance/TrailerLeasingAndInsuranceExpenseGroup";
import BaseExpenseGroupsBlock from "../../Base/Report/BaseExpenseGroupsBlock";
import TrailerRepairExpenseGroup from "./ExpenseGroups/Repair/TrailerRepairExpenseGroup";
import TrailerOtherExpenseGroup from "./ExpenseGroups/Other/TrailerOtherExpenseGroup";
import TrailerSalaryExpenseGroup from "./ExpenseGroups/Salary/TrailerSalaryExpenseGroup";

export default {
    name: "TrailerExpenseGroupsBlock",
    extends: BaseExpenseGroupsBlock,
    components: {
        TrailerSalaryExpenseGroup,
        TrailerLeasingAndInsuranceExpenseGroup,
        TrailerRepairExpenseGroup,
        TrailerOtherExpenseGroup,
    },
}
</script>
