<template>
    <common-table
        :columns-count="columnsCount"
        :models="models"
        :selected-model="selectedModel"
        @select="$emit('select', $event)"
        @unselect="$emit('unselect')"
    >
        <template v-slot:head>
            <thead class=" text-primary">
                <th class="text-center">Номер грузовика</th>
                <th class="text-center">Кол-во дней</th>
            </thead>
        </template>

        <template v-slot:row="params">

            <!-- number -->
            <td class="text-center">{{ params.model.number }}</td>

            <!-- days -->
            <td class="text-center">{{ params.model.days }}</td>

        </template>

    </common-table>
</template>

<script>
import CommonTable from "../../../../../Base/Components/Framework/Tables/CommonTable";
import CommonTablePropsMixin from "../../../../../Base/Components/Framework/Tables/CommonTablePropsMixin";

export default {
    name: "TrailerCarDaysStatTable",
    mixins: [
        CommonTablePropsMixin,
    ],
    components: {
        CommonTable,
    },
    props: {
        columnsCount: {
            default: 2,
        },
    },
}
</script>
