<template>
    <span>
        <tag  v-if="value.new_trailer_id == trailerId" value="Прикреплён" class="linked" />
        <tag v-else value="Откреплён" class="unlinked" />
<!--        <tag v-else value="Перекреплён" class="relinked" />-->
    </span>
</template>

<script>
import Tag from "../../../../../Base/Components/Framework/Elementaries/Tag";

export default {
    name: "TrailerLinkingToParkCarLogActionName",
    components: {
        Tag,
    },
    props: {
        value: Object,
        trailerId: Number,
    },
}
</script>

<style scoped>
    .linked {
        background-color: #41b883;
    }

    .unlinked {
        background-color: #ffb236;
    }

    .relinked {
        background-color: #2CA8FF;
    }
</style>
