<template>
    <common-table
        :columns-count="columnsCount"
        :models="models"
        :selected-model="selectedModel"
        @select="$emit('select', $event)"
        @unselect="$emit('unselect')"
    >
        <template v-slot:head>
            <thead class=" text-primary">
            <th class="text-center">Ид</th>
            <th class="text-center">Дата и время</th>
            <th class="text-center">Действие</th>
            <th class="text-center">Номер грузовика</th>
            <th class="text-center">Пользователь</th>
            </thead>
        </template>

        <template v-slot:row="params">

            <!-- id -->
            <td class="text-center">{{ params.model.id }}</td>

            <!-- timestamp -->
            <td class="text-center"><date-time :value="params.model.timestamp"></date-time></td>

            <!-- action -->
            <td class="text-center">
                <trailer-linking-to-park-car-log-action-name
                    :value="params.model"
                    :trailer-id="trailerId"
                ></trailer-linking-to-park-car-log-action-name>
            </td>

            <!-- park_car_id -->
            <td class="text-center">
                <park-car :items="parkCars" :value="params.model.park_car_id"></park-car>
            </td>

            <!-- user_id -->
            <td class="text-center">
                <common-user :items="users" :value="params.model.user_id"></common-user>
            </td>

        </template>

    </common-table>
</template>

<script>
import CommonTablePropsMixin from "../../../../../Base/Components/Framework/Tables/CommonTablePropsMixin";
import CommonTable from "../../../../../Base/Components/Framework/Tables/CommonTable";
import TrailerLinkingToParkCarLogActionName from "./TrailerLinkingToParkCarLogActionName";
import ParkCar from "../../Car/Park/ParkCar";
import CommonUser from "../../../../Users/Common/CommonUser";
import DateTime from "../../../../../Base/Components/Framework/Domain/DateAndTime/DateTime";

export default {
    name: "TrailerLinkingToParkCarLogTable",
    mixins: [
        CommonTablePropsMixin,
    ],
    components: {
        CommonTable,
        DateTime,
        TrailerLinkingToParkCarLogActionName,
        ParkCar,
        CommonUser,
    },
    props: {
        // table
        columnsCount: {
            default: 6,
        },

        // references
        parkCars: Array,
        users: Array,

        // extras
        trailerId: Number,
    },
}
</script>
