<template-extends base="../../../Base/Forms/Simple/ModalEntity/SimpleEntityModalForm">
<slot>
    <div class="form-row">
        <!-- number -->
        <text-input-with-label-control
            v-model="model.number"
            :parent-id="id"
            :required="true"
            child-id="number"
            class="col-12 col-sm-6"
            label="Номер"
        ></text-input-with-label-control>

        <!-- work_status_id -->
        <work-status-id-radio-group-control
            v-model="model.work_status_id"
            :parent-id="id"
            class="col-12 col-sm-6"
            item-class="col-6"
            items-container-class="form-row"
        ></work-status-id-radio-group-control>

        <slot name="vehicle-child-controls"></slot>
    </div>
</slot>
</template-extends>

<script>
import SimpleEntityModalForm from "../../../Base/Forms/Simple/ModalEntity/SimpleEntityModalForm";
import TextInputWithLabelControl
    from "../../../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/Inputs/TextInputWithLabelControl";
import WorkStatusIdRadioGroupControl from "../Car/WorkStatuses/WorkStatusIdRadioGroupControl";

export default {
    name: "BaseVehicleModalForm",
    extends: SimpleEntityModalForm,
    components: {
        TextInputWithLabelControl,
        WorkStatusIdRadioGroupControl,
    },
    props: {
        size: {
            default: 'lg',
        },
    },
    methods: {
        createEmptyModel() {
            return {
                id: null,
                number: null,
                work_status_id: 0,
            };
        },
        convertFormDataToRequestData(formData) {
            return {...formData};
        },
        convertValuePropToFormModel(value) {
            return {...value};
        },
    },
    computed: {
        isSaveDisabled() {
            return !this.model.number;
        },
        isValid() {
            return !!this.model.number;
        },
    },
}
</script>
