<template-extends base="../../Base/Components/Framework/Tables/CommonTableWithDetails">
</template-extends>

<script>
import CommonTableWithDetails from "../../Base/Components/Framework/Tables/CommonTableWithDetails";

export default {
    name: "ImporterTableNew",
    extends: CommonTableWithDetails,
}
</script>
