<template>
    <form @submit.prevent="save" method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Категория</label>
                    <input class="form-control" required type="text" v-model="category.name">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="month_rate_amount">Оклад</label>
                    <input class="form-control" id="month_rate_amount" required type="text"
                           v-model="category.month_rate_amount">
                </div>
            </div>
            <div class="col-md-6" v-if="false">
                <div class="form-group">
                    <label for="phone">Cтатус</label>
                    <input class="form-control" id="phone" name="phone" type="text" v-model="category.status">
                </div>
            </div>


            <div class="col-md-12">
                <div class="form-group pull-right">
                    <button class="btn-primary btn" type="submit">Save</button>
                </div>
                <div class="form-group pull-right">
                    <button @click="clearModel" class="btn-primary btn" type="button">Очистить</button>
                </div>
                <div class="form-group pull-right" v-if="category.id">
                    <button @click="deleteModel" class="btn-primary btn btn-danger" type="button">Удалить</button>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
 import {eventEmitter, mixErrors} from "../../../app";

 import EntityUrlMixin from "../../../Base/Components/Mixins/EntityUrlMixin";

    export default {
        name: "DriverForm",
        mixins: [
            mixErrors,
            EntityUrlMixin,
        ],
        props: [],
        created() {
            eventEmitter.$on('onSelectDriverCategoryModel', (dataDriver) => {
                this.category = dataDriver;
            });
        },
        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                category: {
                    id: null,
                    name: '',
                    month_rate_amount: '',
                    status: 0,
                }
            }
        },
        methods: {
            save(e) {
                e.preventDefault();
                let th = this
                let thToaster = this.$toastr; // s,e,w,i .e("ERRROR"); .w("WARNING");.i("INFORMATION MESSAGE");
                axios.post('', this.category)
                    .then(function (resp) {
                        if (resp.data.status == 'warning') {
                            thToaster.w(resp.data.message);
                            return;
                        }
                        thToaster.s(resp.data.message);
                        if (resp.data.status == 'created') {
                            th.clearModel();
                        }
                        th.sentToTable(resp.data.model, resp.data.status);
                    })
                    .catch(function (resp) {
                        if (resp.response.status == 422) {
                            thToaster.e(th.getFirstError(resp.response.data.errors))
                        } else {
                            thToaster.e('Some Error')
                        }
                    });
                return false;
            },
            clearModel: function () {
                this.category = {id: null, name: '', month_rate_amount: '', status: 0,};
            },
            sentToTable(carModel, status) {
                if (status == 'created') {
                    eventEmitter.$emit('onCreatedDriverCategoryModel', carModel)
                } else if (status == 'updated') {
                    eventEmitter.$emit('onUpdateDriverCategoryModel', carModel)
                } else if (status == 'deleted') {
                    eventEmitter.$emit('onDeletedDriverCategoryModel', carModel)
                }
            },
            deleteModel: function () {
                // console.log('delete');
                let th = this
                let thToaster = this.$toastr; // s,e,w,i .e("ERRROR"); .w("WARNING");.i("INFORMATION MESSAGE");
                axios.delete(this.getEntityUrlById(this.category.id))
                    .then(function (resp) {
                        if (resp.data.status == 'warning') {
                            thToaster.w(resp.data.message);
                            return;
                        }
                        thToaster.s(resp.data.message);
                        if (resp.data.status == 'deleted') {
                            th.clearModel();
                        }
                        th.sentToTable(resp.data.model, resp.data.status);
                    })
                    .catch(function (resp) {
                        if (resp.response.status == 422) {
                            thToaster.e(th.getFirstError(resp.response.data.errors))
                        } else {
                            thToaster.e('Some Error')
                        }
                    });
                return false;
            }
        },
    }
</script>
