<template>
    <table class="table">
        <thead class=" text-primary">
        <th class="text-center" v-if="false">
            Ид
        </th>
        <th class="text-center">
            Категория
        </th>
        <th class="text-center">
            Оклад
        </th>
        </thead>
        <tbody ref="table_car">
        <tr :class="{ active : active_el == cat.id }" @click="activateTableRowCar(cat.id ,$event)"
            class="row-hover-table" v-for="cat in categories_list">
            <td class="text-center" v-if="false"> {{cat.id}}</td>
            <td class="text-center"> {{cat.name}}</td>
            <td class="text-center"> {{cat.month_rate_amount}}</td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    import {eventEmitter} from "../../../app";
    import EntityUrlMixin from "../../../Base/Components/Mixins/EntityUrlMixin";

    export default {
        name: "DriverCategoryTable",
        mixins: [
            EntityUrlMixin,
        ],
        props: {
            categories: Array,
        },
        mounted() {
            this.categories_list = this.categories;
            //this.cars=[]
        },
        created() {
            eventEmitter.$on('onCreatedDriverCategoryModel', (modelCar) => {
                this.categories_list.unshift(modelCar)
                this.clearActiveTableRow();
            });
            eventEmitter.$on('onUpdateDriverCategoryModel', (modelCar) => {
                let ind = _.findIndex(this.categories_list, {id: modelCar.id});
                if (ind > -1) {
                    Vue.set(this.categories_list, ind, modelCar)
                }
            });
            eventEmitter.$on('onDeletedDriverCategoryModel', (modelCar_id) => {
                let ind = _.findIndex(this.categories_list, {id: modelCar_id});
                if (ind > -1) {
                    Vue.delete(this.categories_list, ind)
                }
            });
        },
        data() {
            return {
                active_el: 0,
                categories_list: []
            }
        },
        methods: {
            // отмечаем цветом строку и шлем новую модел в CarForm
            activateTableRowCar(idRef, event) {
                this.active_el = idRef;
                this.clearActiveTableRow();
                this.sentCarModelToForm(idRef);
            },
            clearActiveTableRow() {
                _.forEach(document.getElementsByClassName('row-hover-table'), function (elemento) {
                    elemento.classList.remove("active");
                });
            },
            sentCarModelToForm: function (idCar) {
                axios.get(this.getEntityUrlById(idCar))
                    .then(function (resp) {
                        eventEmitter.$emit('onSelectDriverCategoryModel', resp.data);
                    })
                    .catch(function (resp) {
                        thToaster.e('Some Error')
                    });
            },
        }
    }


</script>

<style scoped>

</style>
