<template>
    <fieldset class="col-12">
        <legend>Категория водителя</legend>

        <div class="form-row">
            <text-input-with-label-control
                :disabled="disabled"
                :parent-id="id"
                :value="value ? value.id: null"
                child-id="id"
                class="col-4"
                label="Id"
            ></text-input-with-label-control>

            <text-input-with-label-control
                :disabled="true"
                :parent-id="id"
                :value="value ? value.name : null"
                child-id="name"
                class="col-8"
                label="Название"
            ></text-input-with-label-control>

            <amount-control
                :disabled="true"
                :parent-id="id"
                :value="value ? value.month_rate_amount : null"
                child-id="month_rate"
                class="col-12"
                label="Рейт в месяц, €"
            ></amount-control>
        </div>

    </fieldset>
</template>

<script>
import CommonControlPropsWithLabel
    from "../../../Base/Components/Framework/Controls/FormGroupWithLabel/CommonControlPropsWithLabel";
import TextInputWithLabelControl from "../../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/Inputs/TextInputWithLabelControl";
import AmountControl from "../../../Base/Components/Framework/Controls/FormGroupWithLabel/Domain/Numbers/AmountControl";

export default {
    name: "DriverCategoryInfo",
    components: {
        TextInputWithLabelControl,
        AmountControl,
    },
    mixins: [CommonControlPropsWithLabel],
    props: {
        childId: {
            default: 'modal',
        },
    }
}
</script>
