<template>
    <common-table
        :columns-count="columnsCount"
        :models="models"
        :selected-model="selectedModel"
        @select="$emit('select', $event)"
        @unselect="$emit('unselect')"
    >
        <template v-slot:head>
            <thead class=" text-primary">
            <th class="text-center">Ид</th>
            <th class="text-center">Номер автомобиля</th>
            <th class="text-center">Ответственный</th>
            <th class="text-center">Марка</th>
            <th class="text-center">Модель</th>
            <th class="text-center">Состояние</th>
            <th class="text-center">Архивирован</th>
            </thead>
        </template>

        <template v-slot:row="params">
            <!-- id -->
            <td class="text-center">{{ params.model.id }}</td>

            <!-- number -->
            <td class="text-center">{{ params.model.number }}</td>

            <!-- responsible -->
            <td class="text-center">{{ params.model.responsible |valueOrDash }}</td>

            <!-- brand -->
            <td class="text-center">{{ params.model.brand |valueOrDash }}</td>

            <!-- model -->
            <td class="text-center">{{ params.model.model |valueOrDash }}</td>

            <!-- work_status_id -->
            <td class="text-center">
                <vehicle-work-status :value="params.model.work_status_id"></vehicle-work-status>
            </td>

            <!-- is_archived -->
            <td class="text-center">
                <car-is-archived :value="params.model.is_archived"></car-is-archived>
            </td>
        </template>
    </common-table>
</template>

<script>

import BaseCarTable from "../Base/BaseCarTable";

export default {
    name: "OfficeCarTable",
    extends: BaseCarTable,
    props: {
        columnsCount: {
            default: 7,
        },
    },
}
</script>
