<template-extends base="../Base/BaseCarModalForm">
<slot name="car-child-controls">
    <text-input-with-label-control
        v-model="model.responsible"
        child-id="responsible"
        class="col-12"
        label="Ответственный"
    ></text-input-with-label-control>
</slot>
</template-extends>
<script>
import BaseCarModalForm from "../Base/BaseCarModalForm";

export default {
    name: "OfficeCarModalForm",
    extends: BaseCarModalForm,
    props: {
        entityGenitive: {
            default: 'автомобиля (офисного)',
        },
    },
    methods: {
        //todo: refactor with parent/super call
        createEmptyModel() {
            const baseEmptyModel = this.$super();

            return Object.assign(baseEmptyModel, {
                responsible: null,
            });
        },
    }
}
</script>
