<template-extends base="../../../../../../../Base/Components/Framework/Containers/CollapsedCard/CollapsedCard">
<slot name="card-header">
    <h5>{{ heading }}
        <span class="total_amount small">{{ totalAmount }} EUR</span>
    </h5>
</slot>

<slot>
    <div class="table-responsive">
        <component
            :is="bodyComponentName"
            :models="filteredModels"
        ></component>
    </div>
</slot>
</template-extends>

<script>
import CollapsedCard from "../../../../../../../Base/Components/Framework/Containers/CollapsedCard/CollapsedCard";

export default {
    name: "BaseExpenseGroup",
    extends: CollapsedCard,
    props: {
        expanded: {
            default: false,
        },
        models: {
            type: Array,
        },
        expenseGroupId: {
            type: Number,
        },
        childId: {
            default: 'BaseExpenseGroup',
        },
        bodyComponentNamePrefix: {
            type: String,
        },
        baseBodyComponentName: {
            type: String,
        },
        showFooter: {
            default: false,
        },
    },
    computed: {
        filteredModels() {
            const expenseGroupId = this.expenseGroupId;

            return this.models.filter((model) => model.expense.group_id === expenseGroupId);
        },
        totalAmount() {
            return this.filteredModels.reduce((accumulator, model) => accumulator + model.total_amount, 0);
        },
        bodyComponentName() {
            return this.bodyComponentNamePrefix + '-' + this.baseBodyComponentName;
        },
    }
}
</script>
