<template>
    <button-create></button-create>
</template>

<script>
import ButtonCreate from "../../../Base/Components/Framework/Controls/ActionButtons/Form/Entity/ButtonCreate";

export default {
        name: "ButtonCreateManager",
        components: {ButtonCreate},
    }
</script>
