<template-extends base="../../Base/Forms/Simple/ModalEntity/SimpleEntityModalForm">
<slot>
    <div class="form-row">
        <!-- name -->
        <text-input-with-label-control
            v-model="model.name"
            :parent-id="id"
            :required="true"
            child-id="name"
            class="col-12 col-md-4"
            label="ФИО"
        ></text-input-with-label-control>

        <!-- email -->
        <email-input-control
            v-model="model.email"
            :parent-id="id"
            :required="true"
            child-id="email"
            class="col-12 col-md-4"
            label="E-mail"
        ></email-input-control>

        <!-- password -->
        <text-input-with-label-control
            v-model="model.password"
            :parent-id="id"
            child-id="password"
            class="col-12 col-md-4"
            label="Новый пароль"
        ></text-input-with-label-control>

        <!-- email signature -->
        <textarea-control
            v-model="model.email_signature"
            :parent-id="id"
            child-id="email_signature"
            class="col-12"
            label="Подпись для e-mail'ов"
        ></textarea-control>
    </div>
</slot>
</template-extends>

<script>
import TextInputWithLabelControl
    from "../../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/Inputs/TextInputWithLabelControl";
import TextareaControl from "../../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/TextareaControl";
import EmailInputControl
    from "../../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/Inputs/EmailInputControl";
import SimpleEntityModalForm from "../../Base/Forms/Simple/ModalEntity/SimpleEntityModalForm";
import EntityModalFormButtonsGroup
    from "../../../Base/Components/Framework/Forms/Combination/ByValueLogicType/Entity/ByAppearance/Modal/EntityModalFormButtonsGroup";

export default {
    name: "ManagerModalForm",
    extends: SimpleEntityModalForm,
    // extends: BaseSimpleModalForm,
    // mixins: [FormModel, FormModelMethods],
    components: {
        TextInputWithLabelControl,
        TextareaControl,
        EmailInputControl,
        EntityModalFormButtonsGroup,
    },
    props: {
        size: {
            default: 'lg',
        },
        entityGenitive: {
            default: 'менеджера',
        },
        childId: {
            default: 'manager-modal-form',
        },
    },
    methods: {
        createEmptyModel() {
            return {
                id: null,
                name: '',
                email: '',
                email_signature: '',
                password: '',
            };
        },
        convertFormDataToRequestData(formData) {
            return {...formData};
        },
        convertValuePropToFormModel(value) {
            return {
                id: value.id,
                name: value.name,
                email: value.email,
                email_signature: value.email_signature,
                password: "",
            };
        },
    },
    computed: {
        isSaveDisabled() {
            return !this.model.name || !this.model.email;
        },
    },
}
</script>
