<template-extends base="../../Base/Forms/Entity/SimpleEntityRightForm">
<slot>
    <!-- name -->
    <text-input-with-label-control
        v-model="model.name"
        :parent-id="id"
        :required="true"
        child-id="name"
        class="col-12 col-md-6"
        label="ФИО"
    ></text-input-with-label-control>

    <!-- email -->
    <text-input-with-label-control
        v-model="model.email"
        :parent-id="id"
        :required="true"
        child-id="email"
        class="col-12 col-md-6"
        label="E-mail"
    ></text-input-with-label-control>

    <!-- email signature -->
    <textarea-control
        v-model="model.email_signature"
        :parent-id="id"
        child-id="email_signature"
        class="col-12"
        label="Подпись для e-mail'ов"
    ></textarea-control>

<!--
    <form-buttons-group
        :value="formButtonsProps"
                :class="formButtonsGroupClass"
        :parent-id="id"

        @clear="onClear"
        @reset="onReset"

        @delete="onDelete"

        @new="onNew"

        @close="onClose"
    ></form-buttons-group>
-->
</slot>
</template-extends>

<script>
import TextareaControl from "../../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/TextareaControl";
import TextInputWithLabelControl
    from "../../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/Inputs/TextInputWithLabelControl";
import SimpleEntityRightForm from "../../Base/Forms/Simple/RightEntity/SimpleEntityRightForm";
import FormButtonsGroup from "../../../Base/Components/Framework/Forms/Base/Parts/FormButtonsGroup/FormButtonsGroup";

export default {
    name: "ManagerForm",
    extends: SimpleEntityRightForm,
    components: {TextareaControl, TextInputWithLabelControl, FormButtonsGroup},
    methods: {
        createEmptyModel() {
            return {
                id: null,
                name: '',
                email_signature: '',
            };
        },
        convertFormDataToRequestData(formData) {
            return {...formData};
        },
        convertValuePropToFormModel(value) {
            return {...value};
        },
    },
    computed: {
        isDeleteButtonDisabled() {
            return !this.model.id;
        },
        isSaveDisabled() {
            return !this.model.name || !this.model.email;
        },

    }
}
</script>
