<template>
    <common-table
        :columns-count="columnsCount"
        :models="models"
        :selected-model="selectedModel"
        @select="$emit('select', $event)"
        @unselect="$emit('unselect')"
    >
        <template v-slot:head>
            <thead class=" text-primary">
            <th class="text-center">Ид</th>
            <th class="text-center">ФИО</th>
            <th class="text-center">E-mail</th>
            <th class="text-center">Подпись для e-mail'ов</th>
            </thead>
        </template>

        <template v-slot:row="params">
            <!-- id -->
            <td class="text-center">{{params.model.id}}</td>

            <!-- name -->
            <td class="text-center">{{params.model.name}}</td>

            <!-- email -->
            <td class="text-center">{{params.model.email}}</td>

            <!-- email signature -->
            <td class="text-center">{{params.model.email_signature}}</td>
        </template>
    </common-table>
</template>

<script>
    import CommonTable from "../../../Base/Components/Framework/Tables/CommonTable";
    import CommonTablePropsMixin from "../../../Base/Components/Framework/Tables/CommonTablePropsMixin";

    export default {
        name: "ManagerTable",
        mixins: [CommonTablePropsMixin],
        components: {CommonTable},
        props: {
            columnsCount: {
                default: 4,
            },
        },
    }
</script>
