<template-extends base="../Base/Forms/Simple/Filter/SimpleTableFilterForm">
<slot>
    <div class="form-row">
        <!-- id -->
        <number-input-control
            v-model="model.id"
            name="id"
            class="col-md-1"
            label="Ид"
            placeholder="Все"
        ></number-input-control>


        <!-- creation_type_id -->
        <cashbook-item-creation-type-select-control
            v-model="model.creation_type_id"
            name="creation_type_id"
            :items="references.cashbookItemCreationTypes"
            class="col-md-2"
            placeholder="Все"
        ></cashbook-item-creation-type-select-control>


        <!-- direction_type_id -->
        <cashbook-direction-type-select-control
            v-model="model.direction_type_id"
            name="direction_type_id"
            :items="references.directionTypes"
            class="col-md-2"
            placeholder="Все"
        ></cashbook-direction-type-select-control>

        <!-- total_amount -->
        <amount-control
            v-model="model.total_amount"
            name="total_amount"
            class="col-md-1"
            label="Сумма"
            placeholder="Все"
            :min="0"
        ></amount-control>

        <!-- money_account_id -->
        <money-account-select-control
            v-model="model.money_account_id"
            name="money_account_id"
            :items="references.moneyAccounts"
            class="col-md-2"
            placeholder="Все"
        ></money-account-select-control>


        <!-- payment_date -->
        <date-control-new
            v-model="model.payment_date"
            name="payment_date"
            class="col-md-2"
            label="Дата платежа"
            placeholder="Все"
        ></date-control-new>

        <!-- period -->
        <month-period-select-control
            v-model="model.period"
            name="period"
            class="col-md-2"
            placeholder="Все"
        ></month-period-select-control>


        <!-- type_category_id -->
        <money-transfer-type-category-id-select-control
            v-model="model.type_category_id"
            name="type_category_id"
            :items="references.moneyTransferTypeCategories"
            class="col-md-2"
            placeholder="Все"
        ></money-transfer-type-category-id-select-control>

        <!-- type_subcategory_id -->
        <money-transfer-type-subcategory-id-select-control
            v-model="model.type_subcategory_id"
            name="type_subcategory_id"
            :items="filteredMoneyTransferTypeSubcategories"
            class="col-md-2"
            placeholder="Все"
        ></money-transfer-type-subcategory-id-select-control>

        <!-- transfer_type_id -->
        <general-money-transfer-type-select-control
            v-model="model.transfer_type_id"
            name="transfer_type_id"
            :items="filteredMoneyTransferTypes"
            class="col-md-2"
            placeholder="Все"
        ></general-money-transfer-type-select-control>


        <!-- invoice_date -->
        <invoice-date-control
            v-model="model.invoice_date"
            name="invoice_date"
            :additional-input-formats="additionalInputFormats"
            class="col-md-3"
            placeholder="Все"
        ></invoice-date-control>

        <!-- invoice_number -->
        <invoice-number-text-input-control
            v-model="model.invoice_number"
            name="invoice_number"
            class="col-md-3"
            placeholder="Все"
        ></invoice-number-text-input-control>


        <!-- description -->
        <text-input-with-label-control
            v-model="model.description"
            name="description"
            class="col-md-3"
            label="Назначение"
            placeholder="Все"
        ></text-input-with-label-control>

        <!-- client_id -->
        <client-select-control
            v-model="model.client_id"
            name="client_id"
            :items="references.clients"
            class="col-md-3"
            placeholder="Все"
        ></client-select-control>


        <!-- driver_id -->
        <driver-select-control
            v-model="model.driver_id"
            name="driver_id"
            :items="references.drivers"
            class="col-md-3"
            placeholder="Все"
        ></driver-select-control>

        <!-- worker_id -->
        <worker-select-control
            v-model="model.worker_id"
            name="worker_id"
            :items="references.workers"
            class="col-md-3"
            placeholder="Все"
        ></worker-select-control>


        <!-- car_id -->
        <general-car-select-with-groups-control
            v-model="model.car_id"
            name="car_id"
            :items="references.generalCars"
            :groups="references.carTypes"
            class="col-md-3"
            placeholder="Все"
        ></general-car-select-with-groups-control>

        <!-- trailer_id -->
        <trailer-select-control
            v-model="model.trailer_id"
            name="trailer_id"
            :items="references.trailers"
            class="col-md-3"
            placeholder="Все"
        ></trailer-select-control>


        <!-- comment -->
        <text-input-with-label-control
            v-model="model.comment"
            name="comment"
            class="col-md-2"
            label="Примечание"
            placeholder="Все"
        ></text-input-with-label-control>


        <!-- created_at_date -->
        <date-control-new
            v-model="model.created_at_date"
            name="created_at_date"
            class="col-md-2"
            label="Дата создания"
            placeholder="Все"
        ></date-control-new>

        <!-- updated_at_date -->
        <date-control-new
            v-model="model.updated_at_date"
            name="updated_at_date"
            class="col-md-2"
            label="Дата обновления"
            placeholder="Все"
        ></date-control-new>

    </div>
</slot>
</template-extends>

<script>
import ClientSelectControl from "../Directories/Client/ClientSelectControl";
import NumberInputControl
    from "../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/Inputs/NumberInputControl";
import CashbookItemCreationTypeSelectControl from "./CreationType/CashbookItemCreationTypeSelectControl";
import AmountControl from "../../Base/Components/Framework/Controls/FormGroupWithLabel/Domain/Numbers/AmountControl";
import MoneyAccountSelectControl from "../Directories/MoneyAccount/MoneyAccountSelectControl";
import DateControlNew
    from "../../Base/Components/Framework/Controls/FormGroupWithLabel/Domain/DateAndTime/DateControlNew";
import MonthPeriodSelectControl
    from "../../Base/Components/Framework/Controls/FormGroupWithLabel/Domain/DateAndTime/MonthNumber/MonthPeriodSelectControl";
import TextInputWithLabelControl
    from "../../Base/Components/Framework/Controls/FormGroupWithLabel/Basic/Inputs/TextInputWithLabelControl";
import DriverSelectControl from "../Users/Driver/DriverSelectControl";
import TrailerSelectControl from "../Directories/Vehicle/Trailer/TrailerSelectControl";
import WorkerSelectControl from "../Users/Worker/WorkerSelectControl";
import CashbookDirectionTypeSelectControl from "./DirectionType/CashbookDirectionTypeSelectControl";
import MoneyTransferTypeSubcategoryIdSelectControl
    from "./MoneyTransferType/Relations/Subcategory/MoneyTransferTypeSubcategoryIdSelectControl";
import MoneyTransferTypeCategoryIdSelectControl
    from "./MoneyTransferType/Relations/Category/MoneyTransferTypeCategoryIdSelectControl";
import GeneralMoneyTransferTypeSelectControl
    from "./MoneyTransferType/Children/General/GeneralMoneyTransferTypeSelectControl";
import InvoiceDateControl from "./Invoice/InvoiceDateControl";
import AdditionalInputFormats from "../../Base/JS/DateAndTime/Date/Format/AdditionalInputFormats";
import InvoiceNumberTextInputControl from "./Invoice/InvoiceNumberTextInputControl";
import CashbookOnlyReactivitiesMixin from "./CashbookOnlyReactivitiesMixin";
import getMonthNumberByMonthString from "../../Base/JS/DateAndTime/Month/Number/getMonthNumberByMonthString";
import getMonthStringByMonthNumber from "../../Base/JS/DateAndTime/Month/String/getMonthStringByMonthNumber";
import CollapsedCard from "../../Base/Components/Framework/Containers/CollapsedCard/CollapsedCard";
import vueProxy from "../../Base/JS/Utils/Object/vueProxy";
import SimpleTableFilterForm from "../Base/Forms/Simple/Filter/SimpleTableFilterForm";
import GeneralCarSelectWithGroupsControl from "../Directories/Vehicle/Car/General/GeneralCarSelectWithGroupsControl";

export default {
    name: "CashbookFilter",
    extends: SimpleTableFilterForm,
    mixins: [
        CashbookOnlyReactivitiesMixin,
    ],
    components: {
        CollapsedCard,

        NumberInputControl,

        CashbookItemCreationTypeSelectControl,

        CashbookDirectionTypeSelectControl,
        AmountControl,
        MoneyAccountSelectControl,

        DateControlNew,
        MonthPeriodSelectControl,

        MoneyTransferTypeCategoryIdSelectControl,
        MoneyTransferTypeSubcategoryIdSelectControl,
        GeneralMoneyTransferTypeSelectControl,

        InvoiceDateControl,
        InvoiceNumberTextInputControl,

        TextInputWithLabelControl,
        ClientSelectControl,

        DriverSelectControl,
        WorkerSelectControl,

        GeneralCarSelectWithGroupsControl,
        TrailerSelectControl,
    },
    methods: {
        // Form
        getEmptyValue() {
            return {
                id: null,
                creation_type_id: null,
                direction_type_id: null,
                total_amount: null,
                money_account_id: null,
                payment_date: null,
                period: null,
                type_category_id: null,
                type_subcategory_id: null,
                transfer_type_id: null,
                invoice_date: null,
                invoice_number: null,
                description: null,
                client_id: null,
                driver_id: null,
                worker_id: null,
                car_id: null,
                trailer_id: null,
                comment: null,
                created_at_date: null,
                updated_at_date: null,
            };
        },
        convertValuePropToFormModel(value) {
            return this.getModelProxyByValue(value);
        },
        getModelProxyByValue(value) {
            return vueProxy({
                data() {
                    return value;
                },
                computed: {
                    month_number: {
                        get() {
                            return getMonthNumberByMonthString(this.period);
                        },
                        set(value) {
                            this.period = getMonthStringByMonthNumber(value);
                        },
                    },
                    payment_timestamp: {
                        get() {
                            return this.payment_date;
                        },
                        set(value) {
                            this.payment_date = value;
                        }
                    },
                },
            });
        },
        convertModelToValue(model) {
            const newValue = model.$data;
            return newValue; // Because model is Proxy over value for BindObjectFrom.
        },
    },
    computed: {
        additionalInputFormats() {
            return AdditionalInputFormats;
        },

        // Reactivities mixins adapters

        filteredCarsGroups() {
            const currentCarGroupId = this.currentCarGroupId;
            const carsGroups = this.references.carsGroups;

            if (currentCarGroupId === null) {
                return carsGroups;
            }

            return carsGroups.filter((carGroup) => {
                return carGroup.id === currentCarGroupId;
            });
        },
        currentCarGroupId() {
            const carsGroups = this.references.carsGroups;

            //todo: fix indexes
            if (this.typeSubcategoryIsPark) {
                return carsGroups[1].id;
            } else if (this.typeSubcategoryIsOffice) {
                return carsGroups[0].id;
            }

            return null;
        }
    },
}
</script>
